/venv/
/accounts/migrations/
/accounts/__pycache__/
/addProducts/__pycache__/
/addProducts/migrations
/GullYakh/__pycache__/
db.sqlite3
/tailwind/node_modules/
/managements/__pycache__/
/managements/migrations/
/media/