{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>بازنشانی رمز عبور</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />

  <style>
    @font-face {
      font-family: 'vazir';
      src: url('{% static "fonts/Vazir.ttf"%}') format('ttf');
      src: url('{% static "fonts/Vazir.woff"%}') format('woff');
      src: url('{% static "fonts/Vazir.woff2"%}') format('woff2');
    }
  </style>

</head>


<body dir="rtl" class="font-vazir flex justify-center items-center h-screen bg-gray-100">
  <div class="w-[520px] mx-auto bg-white p-4 rounded shadow-md relative ">

    <h1 class="text-xl mb-4 mt-4 font-semibold">دستورالعمل بازنشانی رمز عبور ارسال شد.</h1>
    <p class="text-base mb-4 text-gray-500  ">تشکر که ایمل خود را وارد کردید. دستور العمل بازنشانی رمز عبور به ایمیل شما
      ارسال شده است برای انجام مراحل بعدی لطفاً صندوق ورودی ایمل خود را بررسی کنید.</p>
    <div class="flex items-center h-fit">
      <p class="text-base mb-4 text-gray-500  "> <span class="text-red-600 text-lg h-5 font-bold ">*</span> اگر
        دستورالعمل را دریافت نکردید مطمئن شوید که ایمیل صحیح خود را وارد کرده اید.</p>
    </div>
    <a href="{% url 'login' %}"
      class="px-4 py-1 ml-2 w-36 border rounded-md bg-[#f5056d] text-white cursor-pointer hover:bg-[#f5056dd7] ease-in-out duration-200">تایید</a>
    <a href="{% url 'forget_password' %}"
      class="px-4 py-1 w-36  rounded-md border hover:bg-gray-100   ease-in-out duration-200 cursor-pointer">تلاش
      مجدد</a>
  </div>
</body>

</html>