{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>بازنشانی رمز عبور</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />

  <style>
    @font-face {
      font-family: 'vazir';
      src: url('{% static "fonts/Vazir.ttf"%}') format('ttf');
      src: url('{% static "fonts/Vazir.woff"%}') format('woff');
      src: url('{% static "fonts/Vazir.woff2"%}') format('woff2');
    }
  </style>

</head>


<body dir="rtl" class="font-vazir flex justify-center items-center h-screen bg-gray-100">
    <div class="w-[420px] mx-auto bg-white p-4 rounded shadow-md relative ">
        <a href="{% url 'login'%}" class=" "><i class="fa-solid fa-xmark text-gray-600 hover:text-gray-200 absolute left-2 top-2 border rounded-sm  p-1 w-6 h-6 flex items-center justify-center hover:bg-[#f5056d] ease-in-out duration-200"></i></a>
        <h1 class="text-xl mb-4 mt-4 font-semibold">رمز عبور خود را فراموش کرده‌اید؟</h1>
        <p class="text-base mb-4 text-gray-500">لطفاً ایمیل خود را در زیر وارد کنید تا فرآیند بازنشانی رمز عبور آغاز شود:</p>

      <form action="" method="post">
        {%csrf_token%}
        <input type="email" placeholder="ایمیل خود را وارد کنید" name="email" class="input mb-4 ">
        <button type="submit" class="px-4 py-1 ml-2 w-36 border rounded-md bg-[#f5056d] text-white cursor-pointer hover:bg-[#f5056dd7] ease-in-out duration-200">تایید</button>
        <button type="button" class="px-4 py-1 w-36  rounded-md border hover:bg-gray-100   ease-in-out duration-200 cursor-pointer">لغو</button>
      </form>

    </div>
</body>
</html>