{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gull yakh</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />

  <style>
    @font-face {
      font-family: 'vazir';
      src: url('{% static "fonts/Vazir.ttf"%}') format('ttf');
      src: url('{% static "fonts/Vazir.woff"%}') format('woff');
      src: url('{% static "fonts/Vazir.woff2"%}') format('woff2');
    }
  </style>

</head>


<body dir="rtl" class="font-vazir relative">
  <img src="{%static 'images/bg-login.jpg'%}" alt="" class="w-screen h-screen object-cover z-0 blur-sm">
  <div class="w-screen h-screen bg-black bg-opacity-80 absolute top-0"></div>

  <!-- log-in page -->
  <div class="fixed w-[100%] h-[100%] bg-black bg-opacity-80 z-30" id="log-in">

    <div
      class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[300px] md:w-[350px] mx-auto flex flex-col md:flex-row items-center ">
      <div class="relative bg-white rounded-sm w-full mt-6 p-4 flex items-center justify-center">
        <div class="w-full ">
          <h1 class="text-xl md:text-2xl font-bold leading-tight">
            به حساب خود وارد شوید
          </h1>

          <!-- error message -->
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <p class="absolute top-4 left-1/2 transform -translate-x-1/2 text-center
             text-white p-2 bg-gray-500 bg-opacity-95 rounded-sm z-50 error-message">
            {{ message }}
          </p>
          {% elif message.tags == 'success' %}
          <p
            class="absolute top-4 left-1/2 transform -translate-x-1/2 text-center text-green-600 p-2 bg-gray-500 bg-opacity-95 rounded-sm z-50 error-message">
            {{ message }}
          </p>
          {% endif %}
          {% endfor %}

          <script>
            setTimeout(function () {
              var errorMessage = document.querySelector('.error-message');
              if (errorMessage) {
                errorMessage.classList.add('hidden');
              }
            }, 5000);
          </script>


          <!-- close icon  -->
          <a href="{% url 'home' %}">
            <img src="{% static 'icons/close_FILL0_wght400_GRAD0_opsz24.svg'%}" alt=""
              class="absolute left-4 top-4 hover:cursor-pointer border rounded-sm p-1 hover:bg-[#f5056d] ease-in-out duration-300 " id="close-profil">
          </a>

          <form class="mt-6" action="#" method="POST">
            {%csrf_token%}

            <div>
              <label class="block text-gray-700">آدرس ایمل </label>
              <input type="text" name="email" id="" placeholder="آدرس ایمل"
                class="w-full px-4 py-2 rounded-sm bg-gray-100 mt-2 border focus:border-[#f5056d] focus:bg-white focus:outline-none" />
            </div>

            <div class="mt-4">
              <label class="block text-gray-700 ">پسورد</label>
              <input type="password" name="password" id="" placeholder="پسورد" minlength="1"
                class="w-full px-4 py-2 rounded-sm bg-gray-100 mt-2 border focus:border-[#f5056d] focus:bg-white focus:outline-none" />
            </div>

            <div class="text-right mt-2">
              <a href="#" class="text-sm font-semibold text-gray-700 hover:text-[#f5056d] ease-in duration-200">
                پسورد خود را فراموش کرده اید؟</a>
            </div>

            <button type="submit" class="w-full cbtn">
              ورود
            </button>
          </form>

          {% comment %} <hr class="mb-6 border-gray-400 w-full" />

          <button type="button"
            class="w-full block bg-white hover:bg-[#f5056d] focus:bg-gray-100 duration-500 text-gray-900 font-semibold rounded-sm px-4 py-2 border border-gray-300">
            <div class="flex items-center justify-center">
              <img src="{% static 'icons/google icon.png'%}" alt="" class="w-8 ml-2" />
              <span class="font-medium"> با گوگل وارد شوید</span>
            </div>
          </button> {% endcomment %}

          <!-- <button
      type="button"
      class="w-full block mt-4 bg-white hover:bg-[#f5056d] focus:bg-gray-100 duration-500 text-gray-900 font-semibold rounded-sm px-4 py-2 border border-gray-300"
    >
      <div class="flex items-center justify-center">
        <img src="./icons/facbook icon.png" alt="" class="w-8 ml-2" />
        <span class="font-medium"> با فیسبوک وارد شوید</span>
      </div>
    </button> -->

          <p class="mt-8">
            حساب ندارید؟
            <a href="{% url 'register' %}" class="text-gray-600 hover:text-[#f5056d] duration-300 font-semibold">
              ایجاد حساب
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>