    <h1>درخواست بازنشانی رمز عبور</h1>

    <p>سلام،</p>
    <p>شما این ایمیل را برای درخواست تغییر رمز عبور خود در وب سایت گل یخ دریافت کرده‌اید. برای تکمیل فرآیند بازنشانی رمز
    عبور، لطفاً روی لینک زیر کلیک کنید:</p>
    <!-- email link  -->
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    <p>لینک فوق به مدت 24 ساعت فعال است. پس از کلیک بر روی لینک، شما به صفحه‌ای هدایت می‌شوید که در آن می‌توانید رمز عبور جدید خود را وارد کنید.</p>
    <p>اگر شما درخواست بازنشانی رمز عبور را ارسال نکرده‌اید، لطفاً این پیام را نادیده بگیرید و اقدامات امنیتی لازم را انجام دهید.</p>
    <p>با تشکر </p>
    <p>توجه: این ایمیل به صورت خودکار ارسال شده است. لطفاً به این ایمیل پاسخ ندهید.</p>