{% extends "addProducts/layout.html"%}
{%load static%}

{% block mainContent%}

<!-- error and succuss message -->
<p class="error-message hidden fixed"
    id="formError">
</p>
{% if messages %}
{% for message in messages %}
<p
    class="success-message fixed">
    {{ message }} </p>
{% endfor %}

{% endif %}

<script>
    setTimeout(function () {
        var errorMessage = document.querySelector('.success-message');
        if (errorMessage) {
            errorMessage.classList.add('hidden');
        }
    }, 5000);
</script>

<!-- start drink details  -->
<div class="w-full border-2 md:flex py-28 px-10 md:px-4">
  <div class="w-full md:w-1/2">
    <img src="{{drinkDetails.Image.url}}" alt="" class="w-full h-[300px] md:h-[500px] object-cover position-top" />
  </div>

  <div class="w-full px-6 py-3 md:mr-6 md:w-1/2">
    <h2 class="text-2xl font-semibold mb-2">{{drinkDetails.Title}}</h2>
    <p class="text-gray-600 mb-4 text-justify">{{drinkDetails.Description}}</p>
    <p class="text-sm text-gray-00 font-semibold">{{drinkDetails.Price}}Af </p>
    <form method="POST" action="{% url 'add_to_cart' drinkDetails.id 'drink' %}">
      {% csrf_token %}
      <button type="submit" class="cbtn text-xs mb-0" >افزودن به ثبت خرید</button>
    </form>

     <!-- wrid <command> -->
      <div class="md:flex gap-2 my-2 ">

        <form id="commentForm" class="mt-4 md:w-1/2 px-4 border" action='{% url "add-drink-comment" drinkDetails.id %}'
          method="POST" onsubmit="return submitForm()">
          {% csrf_token %}
          <h1 class="w-14 py-2 text-sm font-bold border-b-2 border-gray-500">نظر دهید</h1>
          <label for="author" class="block text-gray-700 text-sm pt-2 font-bold">نام کاربری</label>
          <p class="input my-1">{{request.user.username }}</p>
          <!-- <input type="text" value="{{request.user.profile.first_name }} {{ request.user.profile.last_name }}" id="author" class="input my-1" /> -->
          <label for="content" class="block mt-2 text-gray-700 text-sm font-bold">نظر</label>
          <textarea id="content" name="comment" class="input my-1"></textarea>
          <button type="submit" class="cbtn py-2 my-2" onclick="submitComment()">ارسال نظر</button>
        </form>
        <script>
          function submitForm() {
              var contentInput = document.getElementById("content");
      
              if (contentInput.value.trim() !== "") {
                  return true; // ارسال فرم
              } else {
                  contentInput.setCustomValidity("لطفاً نظری بنویسید.");
                  return false; // عدم ارسال فرم
              }
          }
      </script>
        <!-- show comments  -->
        <div class="md:w-1/2  mt-4 px-4 border py-2  ">
          <h1 class="w-12 pb-2 text-sm font-bold border-b-2 border-gray-500">نظر ها</h1>
          <!-- comment -1  -->
          <div class="h-60 overflow-y-scroll custom-scrollbar">
          {% for comment in comments %}
          <div class="relative w-full ">
            <div class="flex gap-2 items-center my-2  ">
              <img src="{{comment.profile.avatar.url}}" alt="" class="w-8 h-8 rounded-full object-cover">
              <p class="text-sm font-bold">{{ comment.profile.first_name }} {{ comment.profile.last_name }}</p>
            </div>

            <div class="mt-2 w-full ">
              <p class="text-xs text-gray-400 w-full">{{ comment.comment }}</p>
            </div>
            <hr class="border-p-1 w-full my-2">
            {% if user.user_type == 'ادمین'%}
            <p class="absolute top-0 left-0 bg-red-500 hover:bg-red-600 text-white text-sm  py-1 px-2 rounded-sm inline-block hover:cursor-pointer deleteButton"
              id="deleteButton_{{ comment.id }}">حذف</p>
            {%endif%}

            <!-- show delete chosses -->
            <div class=" hidden w-full h-full bg-black bg-opacity-80 fixed left-0 top-0 z-50"
              id="deleteModel_{{ comment.id }}">
              <div class=" w-full h-full flex justify-center items-center">
                <div class="w-80  bg-gray-100 px-6 py-4 rounded-sm ">
                  <p class="text-sm">مطمئن هستید که این مورد را حذف کنید؟ </p>
                  <div class="">
                    <form action="{% url 'delete-drink-comment' comment.id drinkDetails.id %}" class="flex gap-8 mt-4"
                      method="post">
                      {%csrf_token%}
                      <input type="submit" value="بلی"
                        class="px-2 text-sm flex items-center hover:cursor-pointer  rounded-sm text-white bg-red-600">
                      <a href="" class="px-2 text-sm flex items-center rounded-sm text-white bg-blue-500">نخیر</a>

                    </form>


                  </div>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        </div>
      </div>


    <script>
      const toggleText = document.getElementById("toggleText");
      const content = document.getElementById("content");

      toggleText.addEventListener("click", () => {
        content.classList.toggle("hidden");
      });
    </script>
  </div>
</div>

{% endblock %}