{% extends "addProducts/layout.html"%}
{%load static%}

{% block mainContent%}



<!-- start drink details  -->
<div class="w-[90%] mx-auto mt-28 mb-6 md:flex md:mt-28  bg-opacity-20 shadow-md">
  <div class="w-full md:w-1/2">
    <img src="{{drinkDetails.Image.url}}" alt="" class="w-full h-[300px] md:h-[500px] object-cover position-top" />
  </div>

  <div class="w-full px-6 py-3 md:mr-6 md:w-1/2">
    <h2 class="text-2xl font-semibold mb-2">{{drinkDetails.Title}}</h2>
    <p class="text-gray-600 mb-4 text-justify">{{drinkDetails.Description}}</p>
    <p class="text-sm text-gray-00 font-semibold mb-4">{{drinkDetails.Price}}Af </p>
    <form method="POST" action="{% url 'add_to_cart' drinkDetails.id 'drink' %}">
      {% csrf_token %}
      <button type="submit">
        <img src="{% static 'icons/shopping-cart.png' %}" alt="" class="menu-shop-cart">
      </button>
    </form>

    <div class=" ">
      <p id="toggleText" class="mt-10 cursor-pointer py-2 px-4 border-t-2 hover:bg-[#f5056d] duration-500">
        نظر دهید
      </p>
      <div id="content" class="">
        <div class=" mx-auto my-10">
          <div class="flex gap-1 py-2">
            <p class="text-gray-700 font-semibold mb-2">امتیاز دهید:</p>
            <p id="rating-value" class="w-2"></p>



            <!-- start rating  -->
            <div class="flex gap-1" dir="rtl">
              <input type="radio" id="star1" name="rating" value="5" class="hidden" />
              <label for="star5" class="text-gray-300 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
              </label>
              <input type="radio" id="star2" name="rating" value="4" class="hidden" />
              <label for="star4" class="text-gray-300 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
              </label>
              <input type="radio" id="star3" name="rating" value="3" class="hidden" />
              <label for="star3" class="text-gray-300 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
              </label>
              <input type="radio" id="star4" name="rating" value="2" class="hidden" />
              <label for="star2" class="text-gray-300 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
              </label>
              <input type="radio" id="star5" name="rating" value="1" class="hidden" />
              <label for="star1" class="text-gray-300 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
              </label>
            </div>
            
           

          </div>

          <script>
            const stars = document.querySelectorAll('input[name="rating"]');
            const ratingValue = document.getElementById('rating-value');

            stars.forEach((star, index) => {
              star.addEventListener('change', function () {
                const currentRating = this.value;
                ratingValue.textContent = currentRating;
                for (let i = 0; i < stars.length; i++) {
                  if (i < currentRating) {
                    stars[i].nextElementSibling.classList.add('text-yellow-500');
                  } else {
                    stars[i].nextElementSibling.classList.remove('text-yellow-500');
                  }
                }
              });

              star.addEventListener('mouseenter', function () {
                const currentRating = index + 1;
                for (let i = 0; i < stars.length; i++) {
                  if (i < currentRating) {
                    stars[i].nextElementSibling.classList.add('text-yellow-500');
                  } else {
                    stars[i].nextElementSibling.classList.remove('text-yellow-500');
                  }
                }
              });

              star.addEventListener('mouseleave', function () {
                const currentRating = ratingValue.textContent;
                for (let i = 0; i < stars.length; i++) {
                  if (i < currentRating) {
                    stars[i].nextElementSibling.classList.add('text-yellow-500');
                  } else {
                    stars[i].nextElementSibling.classList.remove('text-yellow-500');
                  }
                }
              });
            });

            const starContainer = document.querySelector('.flex');
            starContainer.addEventListener('contextmenu', function (event) {
              event.preventDefault();
              ratingValue.textContent = '1';
              for (let i = 0; i < stars.length; i++) {
                if (i === 0) {
                  stars[i].checked = true;
                  stars[i].nextElementSibling.classList.add('text-yellow-500');
                } else {
                  stars[i].checked = false;
                  stars[i].nextElementSibling.classList.remove('text-yellow-500');
                }
              }
            });
          </script>

          <form class="">
            <div class="mb-4">
              <label for="name" class="block text-gray-700 font-semibold mb-2">نام:</label>
              <input type="text" id="name" name="name" placeholder="نام خود را وارد کنید" class="input" />
            </div>
            <div class="mb-4">
              <label for="email" class="block text-gray-700 font-semibold mb-2">ایمیل:</label>
              <input type="email" id="email" name="email" placeholder="ایمیل خود را وارد کنید" class="input" />
            </div>
            <div class="mb-4">
              <label for="comment" class="block text-gray-700 font-semibold mb-2">نظر :</label>
              <textarea id="comment" name="comment" placeholder="نظر خود را وارد کنید" class="input"></textarea>
            </div>
            <button type="submit" class="cbtn">
              ارسال نظر
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      const toggleText = document.getElementById("toggleText");
      const content = document.getElementById("content");

      toggleText.addEventListener("click", () => {
        content.classList.toggle("hidden");
      });
    </script>
  </div>
</div>

{% endblock %}