{% extends "addProducts/layout.html"%}
{% load static %}

{% block mainContent%}
<!-- ============================================================ -->
<!-- start wwelcome -->
<div class="relative">

    <div id="slider" class="overflow-hidden w-full h-[350px] md:h-[450px] lg:h-[600px]">
        <img src="{% static 'images/10.jpg'%}" alt="Image 1" class="w-full h-full object-cover" />
        <img src="{% static 'images/11.jpg'%}" alt="Image 2" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/12.webp'%}" alt="Image 3" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/13.avif'%}" alt="Image 4" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/14.avif'%}" alt="Image 5" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/15.jpg'%}" alt="Image 6" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/16.webp'%}" alt="Image 7" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/17.webp'%}" alt="Image 8" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/18.jpg'%}" alt="Image 9" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/19.jpg'%}" alt="Image 10" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/20.jpg'%}" alt="Image 2" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/21.webp'%}" alt="Image 1" class="w-full h-full object-cover" />
        <img src="{% static 'images/1.jpg'%}" alt="Image 3" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/2.jpg'%}" alt="Image 4" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/3.jpg'%}" alt="Image 5" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/4.webp'%}" alt="Image 6" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/5.jpg'%}" alt="Image 7" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/6.jpg'%}" alt="Image 8" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/7.jpg'%}" alt="Image 9" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/8.jpg'%}" alt="Image 10" class="w-full h-full hidden object-cover" />

        <div class=" overflow-hidden  w-full h-[300px] md:h-[450px] lg:h-screen absolute bottom-0 bg-black opacity-50">

        </div>
    </div>

    <div
        class=" absolute  top-32 w-full flex flex-col gap-4 object-cover justify-center items-center  md:top-40 lg:top-60 ">

        <div class=" flex items-center justify-center">
            <hr class="w-5  h-full border-[1.5px] md:border-2 ml-2 mt-3">
            <h1 class=" text-2xl text-white text-center font-bold drop-shadow-lg md:text-4xl">به وب سایت گل
                یخ خوش آمدید
            </h1>
            <hr class="w-5  h-full border-[1.5px] md:border-2 mr-2 mt-3">
        </div>

        <p class="text-center text-xs px-8 leading-5 text-white xl:text-sm">رستوانت گل یخ جای ویژه است که با
            طعم‌های
            لذیذ، فضای دلنشین و خدمات بی‌نظیر ،<br> تجربه‌ی شگفت‌انگیزی را برای شما به ارمغان می‌آورد.</p>





        <!-- start search bar -->
        <div>
            <form class=" flex justify-center items-center ">
                <!-- <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label> -->
                <div class="relative">
                    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                        <img src="{% static 'icons/search-icon.png'%}" alt="" class="w-4 h-4 text-gray-500">
                    </div>

                    <input type="search" id="default-search"
                        class="block bg-transparent ] w-72 md:w-80 lg:w-96 h-10 p-4 pr-10     text-sm text-white border lg:border-2 border-gray-300  rounded-3xl focus:outline-none focus:right-2 focus:ring-[#f5056d] lg:focus:border-2 focus:border-[#f5056d]  placeholder-gray-300"
                        placeholder="دنبال چیزی هستید؟ جستجو کنید" required>


                    <button type="button"
                        class="text-white h-8 absolute left-1 bottom-1 bg-[#f5056d] hover:bg-[#d41e63]        focus:outline-none  font-medium rounded-3xl rounded-r-none text-sm px-4 py-1 duration-150">جستجو</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end welcome -->

<!-- start about us  -->
<div id="abuot" class="mx-auto my-6 w-[96%] bg-white rounded-lg shadow-md overflow-hidden 
     md:w-[80%] ">
    <div class="md:flex ">
        <div class="md:shrink-0 ">
            <img class="h-48 w-full object-cover md:h-full md:w-60 xl:w-[400px] xl:h-[500px]"
                src="{% static 'images/10.jpg'%}" alt="about amage">
        </div>
        <div class="p-8 xl:h-fulls flex flex-col justify-center gap-4 my-auto ">
            <div class=" tracking-wide text-lg text-[#f5056d] font-semibold md:text-xl lg:text-3xl">درباره ما</div>

            <p class="mt-2 text-slate-500 text-justify text-sm xl:text-md">بازدیدکننده عزیز، خوش‌آمدید به
                رستورانمان!
                رستوران ما یک مقصد منحصربه‌فرد برای عاشقان غذا و تجربه‌های لذیذ است. با تمرکز بر کیفیت، خلاقیت و
                خدمات بی‌نظیر، ما به شما تجربه‌ای بی‌نظیر در دنیای طعم و تجربه ارائه می‌دهیم.
                <br><br>
                تیم ما از آشپزان باتجربه و علاقه‌مند تشکیل شده است که با استفاده از بهترین مواد اولیه و روش‌های
                آشپزی خلاقانه، غذاهایی را تهیه می‌کنند که شما را به سفری جذاب و لذت‌بخش به دنیای طعم و تجربه دعوت
                می‌کنند. هر غذا در رستوران ما، یک ترکیب هنر، عشق و اندیشه است که با دقت و عنایت به جزئیات
            </p>
            <input type="button" value=" سفارش آنلاین" class=" cbtn w-fit">
        </div>
    </div>
</div>
<!-- end about us  -->

<!-- ============================================================ -->
<!-- star foods menu -->
<div id="food" class="container border-b-2  mx-auto pt-8 ">
    <h2 class="text-center text-2xl text-[#f5056d] font-bold  mb-4 lg:mb-8 lg:grid-cols-4 gap-4 lg:text-3xl ">
        غذا ها
    </h2>

    <!-- start grid  -->
    <div class="menu-parents">

        {%for food in foodlist%}
        {%if food%}
        <!-- food Item 1 -->
        <div class="menu-cont">
            <a href="/addProduct/food/{{food.id}}">
                <div class="menu-child">
                    <img src="{{food.Image.url}}" alt="food Item 1" class="menu-image">

                    <!-- start reating -->
                    <div class="pt-4">
                        <div class="flex gap-1">
                            <p>امیتاز(5)</p>
                            <div class="flex">
                                <input type="radio" id="star5" name="rating" value="5" class="hidden" />
                                <label for="star5" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star4" name="rating" value="4" class="hidden" />
                                <label for="star4" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star3" name="rating" value="3" class="hidden" />
                                <label for="star3" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star2" name="rating" value="2" class="hidden" />
                                <label for="star2" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star1" name="rating" value="1" class="hidden" />
                                <label for="star1" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="text-lg font-bold mb-2">{{food.Title}}</a>

                    <div class=" flex justify-between items-center mt-5">
                        <p>{{food.Price}}Af</p>
                        
                        <form method="POST" action="{% url 'add_to_cart' food.id 'food' %}">
                            {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'icons/shopping-cart.png' %}" alt="" class="menu-shop-cart">
                            </button>
                        </form>
                          

                      
                    </div>
                </div>
            </a>

        </div>
        {%else%}
        <p>غذای یافت نشد!</p>
        {%endif%}
        {%endfor%}

    </div>

    <div class="flex justify-center items-center">
        <a href="/addProduct/food/list"> <input type="button" value=" موارد بیشتر " class="cbtn"></a>
    </div>
</div>
<!-- end foods menu -->

<!-- ============================================================ -->
<!-- start drink menu -->
<div id="drink" class="container border-b-2  mx-auto pt-8 ">
    <h2 class="text-center text-2xl text-[#f5056d] font-bold  mb-4 lg:mb-8 lg:grid-cols-4 gap-4 lg:text-3xl ">
        نوشیدنی ها
    </h2>

    <!-- start grid  -->
    <div class="menu-parents">
        {%for drink in drinklist%}
        {%if drink%}
        <!-- drink Item 1 -->
        <div class="menu-cont">
            <a href="/addProduct/drink/{{drink.id}}">
                <div class="menu-child">
                    <img src="{{drink.Image.url}}" alt="drink Item 1" class="menu-image">

                    <!-- start reating -->
                    <div class="pt-4">
                        <div class="flex gap-1">
                            <p>امیتاز(5)</p>
                            <div class="flex">
                                <input type="radio" id="star5" name="rating" value="5" class="hidden" />
                                <label for="star5" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star4" name="rating" value="4" class="hidden" />
                                <label for="star4" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star3" name="rating" value="3" class="hidden" />
                                <label for="star3" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star2" name="rating" value="2" class="hidden" />
                                <label for="star2" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>

                                <input type="radio" id="star1" name="rating" value="1" class="hidden" />
                                <label for="star1" class="text-yellow-400 cursor-pointer">
                                    <i class="fas fa-star"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="text-lg font-bold mb-2">{{drink.Title}}</a>

                    <div class=" flex justify-between items-center mt-5">
                        <p>{{drink.Price}}Af</p>

                        <form method="POST" action="{% url 'add_to_cart' drink.id 'drink' %}">
                            {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'icons/shopping-cart.png' %}" alt="" class="menu-shop-cart">
                            </button>
                        </form>
                    </div>
                </div>
            </a>

        </div>
        {%else%}
        <p>نوشیدنی یافت نشد!</p>
        {%endif%}
        {%endfor%}

        
        </div>

        <div class="flex justify-center items-center">

            <a href="/addProduct/drink/list"> <input type="button" value=" موارد بیشتر " class="cbtn">
    
            </a>
    </div>

    
</div>
<!-- end drink menu -->

<!-- start blog  -->
<div class="container border-b-2  mx-auto pt-8">
    <h2 class="text-center text-2xl text-[#f5056d] font-bold  mb-4 lg:mb-8 lg:grid-cols-4 gap-4 lg:text-3xl ">
        آخرین پست ها
    </h2>
    <div class="w-[90%] mx-auto my-8 grid grid-cols-1 sm:grid-cols-2 md:w-[80%]  md:grid-cols-3 lg:grid-cols-4 gap-4">


        {% for post in postlist %}
        {% if post %}
        <div class="w-full mx-auto shadow-md relative">
            <div class="w-full h-[200px] md:h-[200px] lg:h-[250px] overflow-hidden">
                <img src="{{ post.Image.url }}" alt=""
                    class="w-full h-full object-cover hover:cursor-pointer hover:scale-110 ease-in-out duration-500">

                <div
                    class="bg-black bg-opacity-60 flex flex-col justify-center items-center border w-12 h-12 p-2 absolute top-4 left-4 z-10">
                    <h2 class="font-semibold text-center text-sm leading-5 text-white">{{ post.Date|date:"d F" }}</h2>
                </div>
            </div>

            <div>
                <h1 class="text-2xl p-2 font-bold">{{ post.Title }}</h1>
                <p class="px-2 text-sm text-gray-500 h-10 overflow-hidden">{{ post.Description|slice:":70" }}
                    {% if post.Description|length > 70 %}...{% endif %}</p>
                <div class="w-full mt-4 py-3 px-2 bg-gray-200">
                    <a href="\addProduct/post/{{ post.id }}"
                        class="text-gray-500 hover:text-[#f5056d] ease-in duration-300">ادامه...</a>
                </div>
            </div>

        </div>
        {%endif%}
        {% endfor %}

    </div>
    <div class="flex justify-center items-center">
        <a href="{% url 'post_list'%}"> <input type="button" value=" پست های بیشتر " class="cbtn"></a>
    </div>
</div>



    <!-- start display comments  -->
<div class="w-full h-[800px] pb-20 bg-gray-800 flex flex-col  items-center relative lg:h-[700px] ">
        <h1 class="pt-6 text-[#f5056d] text-3xl font-bold  ">نظر های شما</h1>
        <p class="py-8 leading-6  text-white text-md xl:w-[60%] mx-7 text-justify
        xl:text-center">هر پست در این بلاگ، یک داستان جدیدی را با خوانندگان عزیز به
            ما
            درباره‌ی تأسیس
            رستورانت، تعهد
            ما به استفاده از مواد تازه و محلی، و روش‌های منحصربه‌فرد تهیه غذاهایمان صحبت خواهیم کرد. می‌خواهیم شما را در
            سفری جذاب به پشت صحنه‌ی رستورانت خود ببریم و برای شما بگوییم که چرا ما متفاوت هستیم.</p>
    

        <div id="slideshow" class="flex justify-center items-center">


        <div
        class="slide w-full h-fit mx-auto text-center gap-6 flex-col justify-center items-center  absolute top-80  bg-white px-9 py-6 rounded-sm  sm:w-[60%] sm:mx-auto sm:top-60 sm:text-center  ">
        <p class=" text-md leading-6 text-justify xl:text-center">
            هر پست در این بلاگ، یک داستان جدیدی را با خوانندگان عزیز به اشتراک می‌گذارد. ما درباره‌ی تأسیس رستورانت،
            تعهد ما به استفاده از مواد تازه و محلی، و روش‌های منحصربه‌فرد تهیه غذاهایمان صحبت خواهیم کرد. می‌خواهیم
            شما را در سفری جذاب به پشت صحنه‌ی رستورانت خود ببریم و برای شما بگوییم که چرا ما متفاوت هستیم.
        </p>
        <div class="flex flex-col justify-center items-center p-5 ">
            <img src="./images/chef/1.jpg" alt="" class="w-[120px] h-[120px] border object-cover">

            <h2>Reza Bahram</h2>
            <div class="flex">
                <input type="radio" id="star5" name="rating" value="5" class="hidden" />
                <label for="star5" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                    <i class="fas fa-star"></i>
                </label>
                <input type="radio" id="star4" name="rating" value="4" class="hidden" />
                <label for="star4" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                    <i class="fas fa-star"></i>
                </label>
                <input type="radio" id="star3" name="rating" value="3" class="hidden" />
                <label for="star3" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                    <i class="fas fa-star"></i>
                </label>
                <input type="radio" id="star2" name="rating" value="2" class="hidden" />
                <label for="star2" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                    <i class="fas fa-star"></i>
                </label>
                <input type="radio" id="star1" name="rating" value="1" class="hidden" />
                <label for="star1" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                    <i class="fas fa-star"></i>
                </label>
            </div>
        </div>
    </div>


    <div
    class="slide w-full mx-auto text-center gap-6 flex-col justify-center items-center  absolute top-80  bg-white px-9 py-6 rounded-sm sm:w-[60%] sm:mx-auto sm:top-60 sm:text-center ">
    <p class=" text-md leading-6 text-justify xl:text-center">
        هر پست در این بلاگ، یک داستان جدیدی را با خوانندگان عزیز به اشتراک می‌گذارد. ما درباره‌ی تأسیس رستورانت،
        تعهد ما به استفاده از مواد تازه و محلی، و روش‌های منحصربه‌فرد تهیه غذاهایمان صحبت خواهیم کرد. می‌خواهیم
       
    </p>
    <div class="flex flex-col justify-center items-center p-5 ">
        <img src="./images/chef/2.jpg" alt="" class="w-[120px] h-[120px] border object-cover">

        <h2>Ali Rezai</h2>
        <div class="flex">
            <input type="radio" id="star5" name="rating" value="5" class="hidden" />
            <label for="star5" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" class="hidden" />
            <label for="star4" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" class="hidden" />
            <label for="star3" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" class="hidden" />
            <label for="star2" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" class="hidden" />
            <label for="star1" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
                <i class="fas fa-star"></i>
            </label>
        </div>
    </div>
</div>


<div
class="slide w-full mx-auto text-center gap-6 flex-col justify-center items-center  absolute top-80  bg-white px-9 py-6 rounded-sm sm:w-[60%] sm:mx-auto sm:top-60 sm:text-center ">
<p class=" text-md leading-6 text-justify xl:text-center">
    هر پست در این بلاگ، یک داستان جدیدی را با خوانندگان عزیز به اشتراک می‌گذارد. ما درباره‌ی تأسیس رستورانت،
    تعهد ما به استفاده از مواد تازه و محلی، و روش‌های منحصربه‌فرد تهیه غذاهایمان صحبت خواهیم کرد. می‌خواهیم
    شما را در سفری جذاب به پشت صحنه‌ی رستورانت خود ببریم و برای شما بگوییم که چرا ما متفاوت هستیم.
</p>
<div class="flex flex-col justify-center items-center p-5 ">
    <img src="./images/chef/3.webp" alt="" class="w-[120px] h-[120px] border object-cover">

    <h2>Reza Bahram</h2>
    <div class="flex">
        <input type="radio" id="star5" name="rating" value="5" class="hidden" />
        <label for="star5" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star4" name="rating" value="4" class="hidden" />
        <label for="star4" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star3" name="rating" value="3" class="hidden" />
        <label for="star3" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star2" name="rating" value="2" class="hidden" />
        <label for="star2" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star1" name="rating" value="1" class="hidden" />
        <label for="star1" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
    </div>
</div>
</div>

<div
class="slide w-full mx-auto text-center gap-6 flex-col justify-center items-center  absolute top-80  bg-white px-9 py-6 rounded-sm sm:w-[60%] sm:mx-auto sm:top-60 sm:text-center  ">
<p class=" text-md leading-6 text-justify xl:text-center">
    هر پست در این بلاگ، یک داستان جدیدی را با خوانندگان عزیز به اشتراک می‌گذارد. ما درباره‌ی تأسیس رستورانت،
    تعهد ما به استفاده از مواد تازه و محلی، و روش‌های منحصربه‌فرد تهیه غذاهایمان صحبت خواهیم کرد. می‌خواهیم
    شما را در سفری جذاب به پشت صحنه‌ی رستورانت خود ببریم و برای شما بگوییم که چرا ما متفاوت هستیم.
</p>
<div class="flex flex-col justify-center items-center p-5 ">
    <img src="./images/chef/4.jpg" alt="" class="w-[120px] h-[120px] border">

    <h2>Reza Bahram</h2>
    <div class="flex">
        <input type="radio" id="star5" name="rating" value="5" class="hidden" />
        <label for="star5" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star4" name="rating" value="4" class="hidden" />
        <label for="star4" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star3" name="rating" value="3" class="hidden" />
        <label for="star3" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star2" name="rating" value="2" class="hidden" />
        <label for="star2" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star1" name="rating" value="1" class="hidden" />
        <label for="star1" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
    </div>
</div>
</div>


<div
class=" slide w-full mx-auto text-center gap-6 flex-col justify-center items-center  absolute top-80  bg-white px-9 py-6 rounded-sm sm:w-[60%] sm:mx-auto sm:top-60 sm:text-center ">
<p class=" text-md leading-6 text-justify xl:text-center">
    هر پست در این بلاگ، یک داستان جدیدی را با خوانندگان عزیز به اشتراک می‌گذارد. ما درباره‌ی تأسیس رستورانت،
    تعهد ما به استفاده از مواد تازه و محلی، و روش‌های منحصربه‌فرد تهیه غذاهایمان صحبت خواهیم کرد. می‌خواهیم
    شما را در سفری جذاب به پشت صحنه‌ی رستورانت خود ببریم و برای شما بگوییم که چرا ما متفاوت هستیم.
</p>
<div class="flex flex-col justify-center items-center p-5 ">
    <img src="./images/chef/1.jpg" alt="" class="w-[120px] h-[120px] border object-cover">

    <h2>Reza Bahram</h2>
    <div class="flex">
        <input type="radio" id="star5" name="rating" value="5" class="hidden" />
        <label for="star5" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star4" name="rating" value="4" class="hidden" />
        <label for="star4" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star3" name="rating" value="3" class="hidden" />
        <label for="star3" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star2" name="rating" value="2" class="hidden" />
        <label for="star2" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
        <input type="radio" id="star1" name="rating" value="1" class="hidden" />
        <label for="star1" class="text-yellow-400 hover:text-yellow-500 cursor-pointer">
            <i class="fas fa-star"></i>
        </label>
    </div>
</div>
</div>
      </div>
    



      </div>
    <!-- end display comments  -->



      <!-- ============================================================ -->
    <!-- start writ comment -->
    <div class="w-[80%] py-8 md:w-[70%] mx-auto">
        <h2 class="text-2xl font-bold mb-4"> ثبت نظر </h2>

        <form>
            <div class="flex flex-wrap w-full ">
                <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                    <label for="name" class="text-gray-700 font-semibold">نام</label>
                    <input type="text" id="name" name="name"
                        class="input">
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                    <label for="email" class="text-gray-700 font-semibold">آدرس ایمیل</label>
                    <input type="email" id="email" name="email"
                        class="input">
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                    <label for="phone" class="text-gray-700 font-semibold">شماره تماس</label>
                    <input type="tel" id="phone" name="phone"
                        class="input">
                </div>
                <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                    <label for="location" class="text-gray-700 font-semibold">موقعیت</label>
                    <input type="text" id="location" name="location"
                        class="input">
                </div>
            </div>

           

            <div class=" w-full mx-auto mt-4 p-2">
                <label for="comment" class="text-gray-700 font-semibold">نظر</label>
                <textarea id="comment" name="comment"
                    class="input min-h-60"></textarea>
            </div>

            <div class="mt-4  flex justify-center items-center">
                <input type="button" value=" ارسال نظر "
                    class=" p-[10px] text-white  mt-6 w-28 text-sm font-bold bg-[#f5056d] rounded-sm hover:cursor-pointer hover:bg-white hover:text-black hover:drop-shadow-lg ease-in-out duration-500">
            </div>
        </form>
    </div>
    <!-- end writ comment -->






{%endblock%}