{% extends "addProducts/layout.html"%}
{% load static %}
{% load humanize %}

{% block mainContent%}

<!-- error and succuss message -->
<p class="error-message hidden fixed"
    id="formError">
</p>
{% if messages %}
{% for message in messages %}
<p
    class="success-message fixed">
    {{ message }} </p>
{% endfor %}

{% endif %}

<script>
    setTimeout(function () {
        var errorMessage = document.querySelector('.success-message');
        if (errorMessage) {
            errorMessage.classList.add('hidden');
        }
    }, 5000);
</script>

<!-- ============================================================ -->
<!-- start welcome -->
<div class="relative">

    <div id="slider" class="overflow-hidden w-full h-[350px] md:h-[450px] lg:h-[600px]">
        <img src="{% static 'images/10.jpg'%}" alt="Image 1" class="w-full h-full object-cover" />
        <img src="{% static 'images/11.jpg'%}" alt="Image 2" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/12.webp'%}" alt="Image 3" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/13.jpg'%}" alt="Image 4" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/14.jpg'%}" alt="Image 5" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/15.jpg'%}" alt="Image 6" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/16.webp'%}" alt="Image 7" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/17.webp'%}" alt="Image 8" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/18.jpg'%}" alt="Image 9" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/19.jpg'%}" alt="Image 10" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/20.jpg'%}" alt="Image 11" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/21.webp'%}" alt="Image 12" class="w-full h-full object-cover" />
        <img src="{% static 'images/1.jpg'%}" alt="Image 13" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/2.jpg'%}" alt="Image 14" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/3.jpg'%}" alt="Image 15" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/4.webp'%}" alt="Image 16" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/5.jpg'%}" alt="Image 17" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/6.jpg'%}" alt="Image 18" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/7.jpg'%}" alt="Image 19" class="w-full h-full hidden object-cover" />
        <img src="{% static 'images/8.jpg'%}" alt="Image 20" class="w-full h-full hidden object-cover" />

        <div class=" overflow-hidden  w-full h-[300px] md:h-[450px] lg:h-screen absolute bottom-0 bg-black opacity-50">

        </div>
    </div>

    <div
        class=" absolute  top-32 w-full flex flex-col gap-4 object-cover justify-center items-center  md:top-40 lg:top-60 ">

        <div class=" flex items-center justify-center">
            <hr class="w-5  h-full border-[1.5px] md:border-2 ml-2 mt-3">
            <h1 class=" text-2xl text-white text-center font-bold drop-shadow-lg md:text-4xl">به وب سایت گل
                یخ خوش آمدید
            </h1>
            <hr class="w-5  h-full border-[1.5px] md:border-2 mr-2 mt-3">
        </div>

        <p class="text-center text-xs px-8 leading-5 text-white xl:text-sm">رستوانت گل یخ جای ویژه است که با
            طعم‌های
            لذیذ، فضای دلنشین و خدمات بی‌نظیر ،<br> تجربه‌ی شگفت‌انگیزی را برای شما به ارمغان می‌آورد.</p>





        <!-- start search bar -->
        <div>
            <form class="flex justify-center items-center" method="GET" action="{% url 'search_result' %}">
                <div class="relative">
                    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                        <img src="{% static 'icons/search-icon.png'%}" alt="" class="w-4 h-4 text-gray-500">
                    </div>

                    <div class="relative">
                        <input type="search" id="search-input"
                            class="block bg-transparent w-72 md:w-80 lg:w-96 h-10 p-4 pr-10 text-sm text-white border lg:border-2 border-gray-300 rounded-3xl focus:outline-none focus:right-2 focus:ring-[#f5056d] lg:focus:border-2 focus:border-[#f5056d] placeholder-gray-300"
                            placeholder="دنبال چیزی هستید؟" name="query" required>
                        <!-- the autocomplete list -->
                        <ul id="autocompleteList"
                            class="hidden absolute left-0 top-full w-full mt-0.5 max-h-64 overflow-y-auto bg-gray-50  border-gray-200 rounded shadow text-gray-700 text-xs leading-5">
                        </ul>
                    </div>

                    <button type="submit"
                        class="text-white h-8 absolute left-1 bottom-1 bg-[#f5056d] hover:bg-[#d41e63] focus:outline-none font-medium rounded-3xl rounded-r-none text-sm px-4 py-1 duration-150">جستجو</button>

                    <ul id="search-results" class="absolute z-50 text-red-600 text-2xl"></ul>

                </div>
            </form>
        </div>

        <script>
            const searchInput = document.getElementById('search-input');
            const autocompleteList = document.getElementById('autocompleteList');

            {% autoescape off %}
            const foodDrinks = {{ food_and_drink | safe}};
            {% endautoescape %}
            searchInput.addEventListener('input', function () {
                const searchValue = this.value.trim();
                const matchings = foodDrinks.filter(food => food.includes(searchValue));

                if (searchValue.length > 0 && matchings.length > 0) {
                    autocompleteList.innerHTML = '';
                    autocompleteList.classList.remove('hidden');

                    matchings.forEach(food => {
                        const listItem = document.createElement('li');
                        listItem.textContent = food;
                        listItem.classList.add('px-2', 'py-2', 'cursor-pointer', 'hover:bg-gray-100');

                        listItem.addEventListener('click', function () {
                            searchInput.value = food;
                            autocompleteList.classList.add('hidden');
                        });

                        autocompleteList.appendChild(listItem);
                    });
                } else {
                    autocompleteList.innerHTML = '';
                    autocompleteList.classList.add('hidden');
                }
            });
            // hide autocompletelist when clicked outside of it
            document.addEventListener('click', function (event) {
                if (!autocompleteList.contains(event.target) && event.target !== searchInput) {
                    autocompleteList.classList.add('hidden');
                }
            });
        </script>

    </div>
</div>
<!-- end welcome -->

<!-- start about us  -->
<div id="abuot" class=" w-[85%] md:w-[80%] mx-auto my-6  bg-white rounded-lg shadow-md overflow-hidden">
    <div class="md:flex ">
        <div class="md:shrink-0 ">
            <img class="h-48 w-full object-cover md:h-full md:w-60 xl:w-[400px] xl:h-[500px]"
                src="{% static 'images/10.jpg'%}" alt="about amage">
        </div>
        <div class="p-8 xl:h-fulls flex flex-col justify-center gap-4 my-auto ">
            <div class=" tracking-wide text-lg text-[#f5056d] font-semibold md:text-xl lg:text-3xl">درباره ما</div>

            <p class="mt-2 text-slate-500 text-justify text-sm xl:text-md">بازدیدکننده عزیز، خوش‌آمدید به
                رستورانت ما!
                رستوران ما یک مقصد منحصربه‌فرد برای عاشقان غذا و تجربه‌های لذیذ است. با تمرکز بر کیفیت، خلاقیت و
                خدمات بی‌نظیر، ما به شما تجربه‌ای بی‌نظیر در دنیای طعم و تجربه ارائه می‌دهیم.
                <br><br>
                تیم ما از آشپزان باتجربه و علاقه‌مند تشکیل شده است که با استفاده از بهترین مواد اولیه و روش‌های
                آشپزی خلاقانه، غذاهایی را تهیه می‌کنند که شما را به سفری جذاب و لذت‌بخش به دنیای طعم و تجربه دعوت
                می‌کنند. هر غذا در رستوران ما، یک ترکیب هنر، عشق و اندیشه است.  ما در رستورانت گل یخ به ارائه تجربه‌ای منحصر به فرد از غذاهای لذیذ و محیطی دلنشین و آرام برای شما عزیزان افتخار می‌کنیم. با ترکیبی از بهترین مواد اولیه، طعمی خوشمزه و فضایی دلنشین، ما سعی می‌کنیم تا لحظات شما را در رستورانت گل یخ به یادماندنی تبدیل کنیم.
            </p>
        </div>
    </div>
</div>
<!-- end about us  -->

<!-- ============================================================ -->
<!-- star foods menu -->
<div id="food" class="container w-[85%] md:w-[80%] border-b-2  mx-auto pt-8 ">
    <h2 class="text-center text-xl text-[#f5056d] font-bold  mb-4 lg:mb-8 lg:grid-cols-4 gap-4 lg:text-3xl ">
        آخرین غذا ها
    </h2>

    <!-- start grid  -->
    <div class="menu-parents">

        {%for food in foodlist%}
        {%if food%}
        <!-- food Item 1 -->
        <div class="menu-cont">
            <a href="/addProduct/food/{{food.id}}">
                <div class="menu-child">
                    <img src="{{food.Image.url}}" alt="food Item 1" class="menu-image">

                    <h1 class="font-bold mt-4 mb-2">{{food.Title}}</h1>

                    <div class="flex justify-between items-center mt-5">
                        <p>{{food.Price}}Af</p>

                        <form method="POST" action="{% url 'add_to_cart' food.id 'food' %}">
                            {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'icons/shopping-cart.png' %}" alt="" class="menu-shop-cart">
                            </button>
                        </form>



                    </div>
                </div>
            </a>

        </div>
        {%else%}
        <p>غذای یافت نشد!</p>
        {%endif%}
        {%endfor%}

    </div>

    <div class="flex justify-center items-center">
        <a href="/addProduct/food/list"> <input type="button" value=" موارد بیشتر " class="cbtn"></a>
    </div>
</div>
<!-- end foods menu -->

<!-- ============================================================ -->
<!-- start drink menu -->
<div id="drink" class="container border-b-2 w-[85%] md:w-[80%] mx-auto pt-8 ">
    <h2 class="text-center text-xl text-[#f5056d] font-bold  mb-4 lg:mb-8 lg:grid-cols-4 gap-4 lg:text-3xl ">
        آخرین نوشیدنی ها
    </h2>

    <!-- start grid  -->
    <div class="menu-parents">
        {%for drink in drinklist%}
        {%if drink%}
        <!-- drink Item 1 -->
        <div class="menu-cont">
            <a href="/addProduct/drink/{{drink.id}}">
                <div class="menu-child">
                    <img src="{{drink.Image.url}}" alt="drink Item 1" class="menu-image">

                    <h1 class="font-semibold mt-4 mb-2">{{drink.Title}}</h1>

                    <div class=" flex justify-between items-center mt-5">
                        <p>{{drink.Price}}Af</p>

                        <form method="POST" action="{% url 'add_to_cart' drink.id 'drink' %}">
                            {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'icons/shopping-cart.png' %}" alt="" class="menu-shop-cart">
                            </button>
                        </form>
                    </div>
                </div>
            </a>

        </div>
        {%else%}
        <p>نوشیدنی یافت نشد!</p>
        {%endif%}
        {%endfor%}


    </div>

    <div class="flex justify-center items-center">

        <a href="/addProduct/drink/list"> <input type="button" value=" موارد بیشتر " class="cbtn">

        </a>
    </div>


</div>
<!-- end drink menu -->

<!-- start blog  -->
<div class="container border-b-2 w-[85%] md:w-[80%] mb-10 mx-auto pt-8">
    <h2 class="text-center text-xl text-[#f5056d] font-bold  mb-4 lg:mb-8 lg:grid-cols-4 gap-4 lg:text-3xl ">
        آخرین پست ها
    </h2>
    <div class=" my-8 grid grid-cols-1 sm:grid-cols-2   md:grid-cols-3 lg:grid-cols-4 gap-6">


        {% for post in postlist %}
        {% if post %}
        <div class="w-full mx-auto shadow-md relative">
            <div class="w-full h-[200px] md:h-[150px] lg:h-[200px] overflow-hidden">
                <img src="{{ post.Image.url }}" alt=""
                    class="w-full h-full object-cover hover:cursor-pointer hover:scale-110 ease-in-out duration-500">

            </div>

            <div>
                <h2 class=" text-right text-xs px-2 mt-3  text-gray-500 ">
                    {{ post.created_at|naturaltime }}</h2>
                <h1 class="px-2 font-bold">{{ post.Title }}</h1>
                <p class="px-2 text-sm text-gray-500 overflow-hidden">{{ post.Description|slice:":70" }}
                    {% if post.Description|length > 70 %}...{% endif %}</p>
                <div class="w-full mt-4 py-3 px-2 bg-gray-200">
                    <a href="\addProduct/post/{{ post.id }}"
                        class="text-gray-500 hover:text-[#f5056d] ease-in duration-300">ادامه...</a>
                </div>
            </div>

        </div>
        {%endif%}
        {% endfor %}

    </div>
    <div class="flex justify-center items-center">
        <a href="{% url 'post_list'%}"> <input type="button" value=" پست های بیشتر " class="cbtn"></a>
    </div>
</div>



<!-- start display comments  -->
<div class="border w-[85%] md:w-[80%] mx-auto pb-10 bg-gray-800 flex flex-col  items-center  ">
    <h1 class="pt-6 text-[#f5056d] text-3xl font-bold  ">نظر های شما</h1>
    <p class="py-8 leading-6  text-white text-md xl:w-[60%] mx-7 text-justify
        xl:text-center"> به رستورانت گل یخ خوش آمدید! ما بسیار افتخار می‌کنیم که شما را در میان مشتریان خوش ذوقمان داشته باشیم. لطفاً نظرات و تجربیات خود را درباره غذاها، خدمات و هر آنچه که مربوط به رستورانت ما است، با ما در میان بگذارید. نظرات شما برای ما بسیار ارزشمند هستند و به ما در بهبود کیفیت خدمات کمک می‌کنند. با تشکر از همراهی و حمایت شما.</p>


    <div id="slideshow" class=" w-full flex justify-center items-center">
        <div
            class=" slide w-[90%] mx-auto text-center gap-6 flex-col justify-center items-center bg-white px-9 py-6 rounded-sm sm:w-[60%] sm:mx-auto sm:top-60 sm:text-center ">
            <p class="leading-6 text-center">
                {{ comment.comment }}
            </p>
            <div class="flex flex-col justify-center items-center p-5 ">
                <img src="{{ comment.profile.avatar.url }}" alt="" class="w-[120px] h-[120px] border object-cover">

                <h2 class="my-4">{{ comment.profile.first_name }} {{comment.profile.last_name }}</h2>
                
            </div>
        </div>
    </div>




</div>
<!-- end display comments  -->



<!-- ============================================================ -->
<!-- start writ comment -->
<div class="w-[80%] py-8 md:w-[70%] mx-auto">
    <h2 class="text-2xl font-bold mb-4"> ثبت نظر </h2>

    <form action="{% url "create-website-comment" %}" method="POST">
        {% csrf_token %}
        <div class="flex flex-wrap w-full ">
            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="name" class="text-gray-700 text-sm font-semibold">نام</label>
                <input type="text" disabled id="name" value="{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}" name="name" class="input">
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="email" class="text-gray-700 text-sm font-semibold">آدرس ایمیل</label>
                
                <input type="email" disabled id="email" name="email" value="{{ request.user.email }}" class="input">
            </div>
            <!-- <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="phone" class="text-gray-700 font-semibold">شماره تماس</label>
                <input type="tel" id="phone" name="phone" class="input">
            </div> -->
            <!-- <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="location" class="text-gray-700 font-semibold">موقعیت</label>
                <input type="text" id="location" name="location" class="input">
            </div> -->
        </div>



        <div class=" w-full mx-auto mt-4 p-2">
            <label for="comment" class="text-gray-700 text-sm font-semibold">نظر</label>
            <textarea id="comment" name="comment" class="input min-h-60"></textarea>
        </div>

        <div class="mt-4  flex justify-center items-center">
            <input type="submit" value=" ارسال نظر "
                class=" p-[10px] text-white  mt-6 w-28 text-sm font-bold bg-[#f5056d] rounded-sm hover:cursor-pointer hover:bg-white hover:text-black hover:drop-shadow-lg ease-in-out duration-500">
        </div>
    </form>
</div>
<!-- end writ comment -->






{%endblock%}