{%extends "addProducts/layout.html"%}
{%load static%}

{%block mainContent %}
<!-- start blog details -->

<div class="w-[90%] mx-auto px-4 py-8 mt-20 ">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:ml-8">
        <div class="w-full">
          <div class="overflow-hidden h-[200px] md:h-[300px] lg:h-[400px] relative ">
            <img
              id="mainImage"
              src="{{postDetails.Image.url}}"
              alt="Selected Post Image"
              class="w-full h-full shadow post-image object-cover hover:cursor-pointer hover:scale-110 ease-in-out duration-500"
            />

            <div class="  bg-black bg-opacity-60 flex flex-col justify-center items-center border w-12 h-12 p-2 absolute top-4 left-4 z-10">
                <h2 class="font-semibold text-center text-sm leading-5 text-white">{{ postDetails.Date|date:"d F"}}<h2>
              <!-- <p class="text-white text-[12px]">سنبله</p> -->
          </div>

          </div>
          <!-- <div class="grid grid-cols-3 md:grid-cols-3">
            <div
              id="image1"
              class="cursor-pointer h-28 md:32 lg:h-40 relative"
              onclick="showImage(1)"
            >
              <img
                src="./images/11.jpg"
                alt="Post Image 1"
                class="w-full h-full shadow object-cover relative"
              />
              <div
                class="w-full h-28 md:32 lg:h-40 absolute top-0 z-10 hover:bg-[#f5056d] hover:bg-opacity-50 ease-in-out duration-500"
              ></div>
            </div>
            <div
              id="image2"
              class="cursor-pointer h-28 md:32 lg:h-40 relative"
              onclick="showImage(2)"
            >
              <img
                src="./images/12.webp"
                alt="Post Image 2"
                class="w-full h-full shadow object-cover relative"
              />
              <div
                class="w-full h-28 md:32 lg:h-40 absolute top-0 z-10 hover:bg-[#f5056d] hover:bg-opacity-50 ease-in-out duration-500"
              ></div>
            </div>
            <div
              id="image3"
              class="cursor-pointer h-28 md:32 lg:h-40 relative"
              onclick="showImage(3)"
            >
              <img
                src="./images/15.jpg"
                alt="Post Image 3"
                class="w-full h-full shadow object-cover relative"
              />

              <div
                class="w-full h-28 md:32 lg:h-40 absolute top-0 z-10 hover:bg-[#f5056d] hover:bg-opacity-50 ease-in-out duration-500"
              ></div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="md:w-1/2">
       

        <h2 class="text-2xl font-bold my-4">{{postDetails.Title}}</h2>
        <p class="text-gray-500 text-sm md:text-[16px] md:leading-6  text-justify">
          {{postDetails.Description}}
        </p>

        <div class="flex justify-between items-center mt-4">
          <button
            class="p-[10px] mt-6 w-28 text-sm font-bold bg-[#f5056d] rounded-sm text-white shadow-lg hover:cursor-pointer hover:bg-white hover:text-black ease-in duration-300"
            onclick="toggleCommentForm()"
          >
            نظر دهید
          </button>
        </div>
        <form id="commentForm" class="mt-4" style="display: none">
          <label for="author" class="block text-gray-700 font-bold"
            >نام شما</label
          >
          <input
            type="text"
            id="author"
            class="w-full border border-gray-300 rounded py-2 px-3 mb-2 outline-none focus:border-[#f5056d]"
          />
          <label for="content" class="block text-gray-700 font-bold"
            >نظر</label
          >
          <textarea
            id="content"
            class="w-full border border-gray-300 rounded py-2 px-3 h-28 outline-none hover:outline-none focus:border-[#f5056d]"
          ></textarea>
          <button
            type="submit"
            class="p-[10px] mt-4 w-28 text-sm font-bold bg-[#f5056d] rounded-sm text-white shadow-lg hover:cursor-pointer hover:bg-white hover:text-black ease-in duration-300"
          >
            ارسال نظر
          </button>
        </form>
      </div>
    </div>
  </div>

  <script>
    function showImage(imageIndex) {
      const mainImage = document.getElementById("mainImage");
      const smallImage = document
        .getElementById("image" + imageIndex)
        .getElementsByTagName("img")[0];
      mainImage.src = smallImage.src;
    }

    function toggleCommentForm() {
      const commentForm = document.getElementById("commentForm");
      commentForm.style.display =
        commentForm.style.display === "none" ? "block" : "none";
    }
  </script>


{%endblock%}