{%extends "addProducts/layout.html"%}
{%load static%}
{% load humanize %}

{%block mainContent %}


<!-- error and succuss message -->
<p class="error-message hidden fixed"
    id="formError">
</p>
{% if messages %}
{% for message in messages %}
<p
    class="success-message fixed">
    {{ message }} </p>
{% endfor %}

{% endif %}

<script>
    setTimeout(function () {
        var errorMessage = document.querySelector('.success-message');
        if (errorMessage) {
            errorMessage.classList.add('hidden');
        }
    }, 5000);
</script>

<!-- start blog details -->
<div class="w-[95%] mx-auto px-4 py-8 mt-20 ">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 md:ml-8 ">
      <div class="w-full">
        <div class="overflow-hidden border p-1 shadow-lg h-[300px] md:h-[300px] lg:h-[450px] relative ">
          <img id="mainImage" src="{{postDetails.Image.url}}" alt="Selected Post Image"
            class="w-full h-full shadow post-image object-cover hover:cursor-pointer hover:scale-110 ease-in-out duration-500" />



        </div>
      </div>
    </div>

    <div class="md:w-1/2">

      <h2 class=" text-right text-[14px] mt-3  text-gray-500 ">
        {{ postDetails.created_at|naturaltime }}</h2>
      <h2 class="text-lg font-bold my-2">{{postDetails.Title}}</h2>
      <p class="text-gray-600 text-sm  md:leading-6  text-justify">
        {{postDetails.Description}}
      </p>

      <!-- wrid <command> -->
      <div class="md:flex gap-2 my-4">

        <form id="commentForm" class="mt-4 md:w-1/2 px-4 border" action='{% url "add-blog-comment" postDetails.id %}'
          method="POST"onsubmit="return submitForm()" >
          {% csrf_token %}
          <h1 class="w-14 py-2 text-sm font-bold border-b-2 border-gray-500">نظر دهید</h1>
          <label for="author" class="block text-gray-700 text-sm pt-2 font-bold">نام کاربری</label>
          <p class="input my-1">{{request.user.username }}</p>
          <!-- <input type="text" value="{{request.user.profile.first_name }} {{ request.user.profile.last_name }}" id="author" class="input my-1" /> -->
          <label for="content" class="block mt-2 text-gray-700 text-sm font-bold">نظر</label>
          <textarea id="content" name="comment" class="input my-1"></textarea>
          <button type="submit" class="cbtn py-2 my-2" onclick="submitComment()">ارسال نظر</button>
        </form>
        <script>
          function submitForm() {
              var contentInput = document.getElementById("content");
      
              if (contentInput.value.trim() !== "") {
                  return true; // ارسال فرم
              } else {
                  contentInput.setCustomValidity("لطفاً نظری بنویسید.");
                  return false; // عدم ارسال فرم
              }
          }
      </script>
        <!-- show comments  -->
        <div class="md:w-1/2  mt-4 px-4 border py-2  ">
          <h1 class="w-12 pb-2 text-sm font-bold border-b-2 border-gray-500">نظر ها</h1>
          <!-- comment -1  -->
          <div class="h-60 overflow-y-scroll custom-scrollbar">
          {% for comment in comments %}
          <div class="relative w-full ">
            <div class="flex gap-2 items-center my-2  ">
              <img src="{{comment.profile.avatar.url}}" alt="" class="w-8 h-8 rounded-full object-cover">
              <p class="text-sm font-bold">{{ comment.profile.first_name }} {{ comment.profile.last_name }}</p>
            </div>

            <div class="mt-2 w-full ">
              <p class="text-xs text-gray-400 w-full">{{ comment.comment }}</p>
            </div>
            <hr class="border-p-1 w-full my-2">
            {% if user.user_type == 'ادمین'%}
            <p class="absolute top-0 left-0 bg-red-500 hover:bg-red-600 text-white text-sm  py-1 px-2 rounded-sm inline-block hover:cursor-pointer deleteButton"
              id="deleteButton_{{ comment.id }}">حذف</p>
            {%endif%}

            <!-- show delete chosses -->
            <div class=" hidden w-full h-full bg-black bg-opacity-80 fixed left-0 top-0 z-50"
              id="deleteModel_{{ comment.id }}">
              <div class=" w-full h-full flex justify-center items-center">
                <div class="w-80  bg-gray-100 px-6 py-4 rounded-sm ">
                  <p class="text-sm">مطمئن هستید که این مورد را حذف کنید؟ </p>
                  <div class="">
                    <form action="{% url 'delete-post-comment' comment.id postDetails.id %}" class="flex gap-8 mt-4"
                      method="post">
                      {%csrf_token%}
                      <input type="submit" value="بلی"
                        class="px-2 text-sm flex items-center hover:cursor-pointer  rounded-sm text-white bg-red-600">
                      <a href="" class="px-2 text-sm flex items-center rounded-sm text-white bg-blue-500">نخیر</a>

                    </form>


                  </div>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        </div>
      </div>
    </div>
  </div>
</div>


{%endblock%}