{%extends "addProducts/layout.html"%}
{%load static%}
{% load humanize %}


{%block mainContent%}
<!-- start hero -->
<div class="relative">
  <img src="{% static 'images/10.jpg'%}" alt="Image"
    class="flex-col justify-center items-center w-full h-[200px] md:h-[300px] lg:h-[350px] object-cover" />

  <div class="absolute inset-0 bg-black opacity-60"></div>

  <div class="absolute w-full mx-auto top-20 md:top-36 lg:top-40">
    <div class="flex items-center justify-center">
      <hr class="w-5 h-full border-[1.5px] md:border-2 ml-2 mt-3" />
      <h1 class="text-2xl text-white text-center font-bold drop-shadow-lg md:text-4xl">
        به وب سایت گل یخ خوش آمدید
      </h1>
      <hr class="w-5 h-full border-[1.5px] md:border-2 mr-2 mt-3" />
    </div>

    <form class="flex justify-center mt-4 lg:mt-8 items-center">
      <!-- <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label> -->
      <div class="relative">
        <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
          <img src="{% static 'icons/search-icon.png'%}" alt="" class="w-4 h-4 text-gray-500" />
        </div>

        <input type="search" id="default-search"
          class="block bg-transparent ] w-72 md:w-80 lg:w-96 h-10 p-4 pr-10 text-sm text-white border lg:border-2 border-gray-300 rounded-3xl focus:outline-none focus:right-2 focus:ring-[#f5056d] lg:focus:border-2 focus:border-[#f5056d] placeholder-gray-300"
          placeholder="دنبال چیزی هستید؟ جستجو کنید" required />

        <button type="button"
          class="text-white h-8 absolute left-1 bottom-1 bg-[#f5056d] hover:bg-[#d41e63] focus:outline-none font-medium rounded-3xl rounded-r-none text-sm px-4 py-1 duration-150">
          جستجو
        </button>
      </div>
    </form>
  </div>
</div>
<!-- end hero -->

<!-- start blog  -->
<div class="container border-b-2  mx-auto pt-8">
  <h2 class="text-center text-2xl text-[#f5056d] font-bold  mb-4 lg:mb-8  gap-4 lg:text-3xl ">
    پست ها
  </h2>
  <div class="w-[85%] mx-auto my-8 grid grid-cols-1 sm:grid-cols-2 md:w-[80%]  md:grid-cols-3 lg:grid-cols-4 gap-6">


    {% for post in postlist %}
    {% if post %}
    <div class="w-full mx-auto shadow-lg relative">
      <div class="w-full h-[200px] md:h-[200px]  overflow-hidden">
        <img src="{{ post.Image.url }}" alt=""
          class="w-full h-full object-cover hover:cursor-pointer hover:scale-110 ease-in-out duration-500">

        <!-- <div
          class="bg-black bg-opacity-60 flex flex-col justify-center items-center border w-12 h-12 p-2 absolute top-4 left-4 z-10">
          <h2 class="font-semibold text-center text-xs  text-white">
            {{ post.created_at|naturaltime }}</h2>
        </div> -->
      </div>

      <div>
        <h2 class=" text-right text-xs px-2 mt-3  text-gray-500 ">
          {{ post.created_at|naturaltime }}</h2>
        <h1 class="text-xl px-2 font-bold">{{ post.Title }}</h1>
        <p class="px-2 mt-2 text-sm text-gray-500  overflow-hidden">{{ post.Description|slice:":70" }}
          {% if post.Description|length > 70 %}...{% endif %}</p>
        <div class="w-full mt-4 py-3 px-2 bg-gray-200">
          <a href="\addProduct/post/{{ post.id }}"
            class="text-gray-500 hover:text-[#f5056d] ease-in duration-300">ادامه...</a>
        </div>
      </div>

    </div>
    {%endif%}
    {% endfor %}

  </div>
  <!-- start pagenation -->
  <div>
    <ul class="my-10 flex gap-1 justify-center items-center">
      {% if postlist.has_previous %}
      <li>
        <a href="?page={{postlist.previous_page_number}}" class="pagn"> <i class="fa-solid fa-arrow-right"></i> </a>
      </li>
      {% endif %}

      {% for num in pagination_range %}
      <li>
        <a href="?page={{num}}" class="pagn"> {{ num }} </a>
      </li>
      {% endfor %}

      {% if postlist.has_next %}
      <li>
        <a href="?page={{postlist.next_page_number}}" class="pagn"> <i class="fa-solid fa-arrow-left"></i> </a>
      </li>
      {% endif %}
    </ul>
  </div>

</div>



{%endblock%}