{%extends "addProducts/layout.html"%}
{%load static%}
{% load humanize %}

{%block mainContent %}
<!-- start blog details -->

<div class="w-[95%] mx-auto px-4 py-8 mt-20 ">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 md:ml-8 ">
      <div class="w-full">
        <div class="overflow-hidden border p-1 shadow-lg h-[300px] md:h-[300px] lg:h-[450px] relative ">
          <img id="mainImage" src="{{postDetails.Image.url}}" alt="Selected Post Image"
            class="w-full h-full shadow post-image object-cover hover:cursor-pointer hover:scale-110 ease-in-out duration-500" />

          <!-- <div
            class="  bg-black bg-opacity-60 flex flex-col justify-center items-center border w-12 h-12 p-2 absolute top-4 left-4 z-10">
            <h2 class="font-semibold text-center text-sm leading-5 text-white">{{ postDetails.Date|date:"d F"}}<h2>
                <p class="text-white text-[12px]">سنبله</p>
          </div> -->

        </div>
        <!-- <div class="grid grid-cols-3 md:grid-cols-3">
            <div
              id="image1"
              class="cursor-pointer h-28 md:32 lg:h-40 relative"
              onclick="showImage(1)"
            >
              <img
                src="./images/11.jpg"
                alt="Post Image 1"
                class="w-full h-full shadow object-cover relative"
              />
              <div
                class="w-full h-28 md:32 lg:h-40 absolute top-0 z-10 hover:bg-[#f5056d] hover:bg-opacity-50 ease-in-out duration-500"
              ></div>
            </div>
            <div
              id="image2"
              class="cursor-pointer h-28 md:32 lg:h-40 relative"
              onclick="showImage(2)"
            >
              <img
                src="./images/12.webp"
                alt="Post Image 2"
                class="w-full h-full shadow object-cover relative"
              />
              <div
                class="w-full h-28 md:32 lg:h-40 absolute top-0 z-10 hover:bg-[#f5056d] hover:bg-opacity-50 ease-in-out duration-500"
              ></div>
            </div>
            <div
              id="image3"
              class="cursor-pointer h-28 md:32 lg:h-40 relative"
              onclick="showImage(3)"
            >
              <img
                src="./images/15.jpg"
                alt="Post Image 3"
                class="w-full h-full shadow object-cover relative"
              />

              <div
                class="w-full h-28 md:32 lg:h-40 absolute top-0 z-10 hover:bg-[#f5056d] hover:bg-opacity-50 ease-in-out duration-500"
              ></div>
            </div>
          </div> -->
      </div>
    </div>

    <div class="md:w-1/2">

      <h2 class=" text-right text-[14px] mt-3  text-gray-500 ">
        {{ postDetails.created_at|naturaltime }}</h2>
      <h2 class="text-lg font-bold my-2">{{postDetails.Title}}</h2>
      <p class="text-gray-600 text-sm  md:leading-6  text-justify">
        {{postDetails.Description}}
      </p>


      <div class="md:flex gap-2 my-4">

        <form id="commentForm" class="mt-4 md:w-1/2 px-4 border">
          <h1 class="w-14 py-2 text-sm font-bold border-b-2 border-gray-500">نظر دهید</h1>
          <label for="author" class="block text-gray-700 text-sm pt-2 font-bold">نام شما</label>
          <input type="text" id="author" class="input my-1" />
          <label for="content" class="block mt-2 text-gray-700 text-sm font-bold">نظر</label>
          <textarea id="content" class="input my-1"></textarea>
          <button type="submit" class="cbtn py-2 my-2">
            ارسال نظر
          </button>
        </form>

        <div class="md:w-1/2 h-full mt-4 px-4 border py-2  ">
          <h1 class="w-12 pb-2 text-sm font-bold border-b-2 border-gray-500">نظر ها</h1>
          <!-- comment -1  -->
          <div>
            <div class="flex gap-2 items-center my-2 ">
              <img src="{{user.profile.avatar.url}}" alt="" class="w-8 h-8 rounded-full object-cover">
              <p class="text-sm font-bold">رضا بهرام</p>
            </div>

            <div class="mt-2">
              <p class="text-xs text-gray-400"> تشکر از گل یخ بابت غذا های بی نظیر شاتشکر از گل یخ بابت غذا های بی نظیر
                شاتشکر از گل یخ بابت غذا های بی نظیر شان</p>
            </div>
            <hr class="border-p-1 w-full my-2">
          </div>
          <!-- comment -2  -->
          <div>
            <div class="flex gap-2 items-center my-2 ">
              <img src="{{user.profile.avatar.url}}" alt="" class="w-8 h-8 rounded-full object-cover">
              <p class="text-sm font-bold">رضا بهرام</p>
            </div>

            <div class="mt-2">
              <p class="text-xs text-gray-400"> تشکر از گل یخ بابت غذا های بی نظیر شاتشکر از گل یخ بابت غذا های بی نظیر
                شاتشکر از گل یخ بابت غذا های بی نظیر شان</p>
            </div>
            <hr class="border-p-1 w-full my-2">
          </div>
          <!-- comment -3  -->
          <div>
            <div class="flex gap-2 items-center my-2 ">
              <img src="{{user.profile.avatar.url}}" alt="" class="w-8 h-8 rounded-full object-cover">
              <p class="text-sm font-bold">رضا بهرام</p>
            </div>

            <div class="mt-2">
              <p class="text-xs text-gray-400"> تشکر از گل یخ بابت غذا های بی نظیر شاتشکر از گل یخ بابت غذا های بی نظیر
                شاتشکر از گل یخ بابت غذا های بی نظیر شان</p>
            </div>
            <hr class="border-p-1 w-full my-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>

  function toggleCommentForm() {
    const commentForm = document.getElementById("commentForm");
    commentForm.style.display =
      commentForm.style.display === "none" ? "block" : "none";
  }
</script> -->


{%endblock%}