{% extends "addProducts/layout.html"%}
{% load static%}

{%block mainContent%}

<!-- start hero -->
<div class="relative">
    <img src="{%static 'images/18.jpg'%}" alt="Image"
        class=" flex-col justify-center items-center w-full h-[200px] md:h-[300px] lg:h-[350px] object-cover">


    <div class="absolute inset-0 bg-black opacity-50"></div>


    <div class=" absolute w-full mx-auto top-28 md:top-36 lg:top-44 ">

        <h1 class="  text-2xl mx-auto text-white text-center  md:text-4xl font-bold drop-shadow-lg ">
            به وب
            سایت گل
            یخ خوش آمدید
        </h1>

    </div>
</div>

<div class="my-10 flex flex-col">
    <div class="overflow-x-auto  md:w-full sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full justify-center items-center text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-300">
                        <tr>
                            <th scope="col" class="px-6 py-4"> حذف </th>
                            <th scope="col" class="px-6 py-4">تصویر</th>
                            <th scope="col" class="px-6 py-4">نام</th>
                            <th scope="col" class="px-6 py-4">قیمت</th>
                            <th scope="col" class="px-6 py-4">تعداد</th>
                            <th scope="col" class=" py-4 ">قمیت مجموع</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for cart in foods %}
                        <tr class="border-b dark:border-neutral-300">
                            <td class="whitespace-nowrap px-6 py-4 font-medium"><i
                                    class="fa-solid fa-xmark hover:cursor-pointer "></i></td>
                            <td class="py-2 flex justify-center items-center"><img src="{{ cart.Image.url }}" alt=""
                                    class="w-[60px] h-[60px] object-cover"></td>
                            <td class="whitespace-nowrap px-6 py-4">{{cart.Title}}</td>
                            <td class="whitespace-nowrap px-6 py-4 price">{{cart.Price}}</td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <input type="number" value="1" min="1"
                                    class="border border-gray-300 rounded-sm focus:ring-2 focus:outline-none pr-2 py-1 w-16 quantity">
                            </td>
                            <td class="whitespace-nowrap px-6 py-4 totalPrice">{{cart.Price}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="mr-6">
        <a href="{% url 'user_info'%}">
            <button type="submit" class=" cbtn w-20 my-0">خرید
            </button>
        </a>
        <input type="text" id="default_total_price" readonly>
        <input type="text" id="changed_total_price" readonly>
    </div>
</div>

<script>

    // Get all the quantity inputs, price elements, and total price elements
    var quantityInputs = document.querySelectorAll(".quantity");
    var priceElements = document.querySelectorAll(".price");
    var totalPriceElements = document.querySelectorAll(".totalPrice");
    var defaultTotalPriceInput = document.getElementById("default_total_price");
    var changedTotalPriceInput = document.getElementById("changed_total_price");
    
    if (parseFloat(changedTotalPriceInput.value) !== 0) {
        defaultTotalPriceInput.value = changedTotalPriceInput.value;
      }
    // Calculate the sum of default total prices
    var defaultSum = 0;
    totalPriceElements.forEach(function (totalPriceElement) {
        var price = parseFloat(totalPriceElement.textContent);
        if (!isNaN(price)) {
            defaultSum += price;
        }
    });

    // Set the default sum as the initial value
    defaultTotalPriceInput.value = defaultSum.toFixed(2);

    // Add event listeners to each quantity input
    quantityInputs.forEach(function (quantityInput) {
        quantityInput.addEventListener("input", function () {
            updateTotalPrice(this);
        });
    });

    // Function to update the total price for a specific row
    function updateTotalPrice(quantityInput) {
        var row = quantityInput.parentNode.parentNode;
        var priceElement = row.querySelector(".price");
        var totalPriceElement = row.querySelector(".totalPrice");
        var quantity = parseFloat(quantityInput.value);
        var price = parseFloat(priceElement.textContent);
        var totalPrice = quantity * price;

        if (!isNaN(totalPrice)) {
            totalPriceElement.textContent = totalPrice.toFixed(2);
        }

        // Recalculate the sum of changed total prices
        var changedSum = 0;
        totalPriceElements.forEach(function (totalPriceElement) {
            var price = parseFloat(totalPriceElement.textContent);
            if (!isNaN(price)) {
                changedSum += price;
            }
        });

        changedTotalPriceInput.value = changedSum.toFixed(2);
    }
</script>
{%endblock%}