{% extends "addProducts/layout.html"%}
{% load static%}

{%block mainContent%}

<!-- start hero -->
<div class="relative">
    <img src="{%static 'images/18.jpg'%}" alt="Image"
        class=" flex-col justify-center items-center w-full h-[200px] md:h-[300px] lg:h-[350px] object-cover">


    <div class="absolute inset-0 bg-black opacity-50"></div>


    <div class=" absolute w-full mx-auto top-28 md:top-36 lg:top-44 ">

        <h1 class="  text-2xl mx-auto text-white text-center  md:text-4xl font-bold drop-shadow-lg ">
            به وب
            سایت گل
            یخ خوش آمدید
        </h1>

    </div>
</div>

<div class=" my-10 w-[80%] md:w-[70%] mx-auto">
    <h2 class="text-2xl font-bold mb-4"> معلومات خود را وارد کنید </h2>

    <form method='post'>
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full ">
            <div class="w-full ">
                <label for="name" class="text-gray-700 mb-2 text-sm font-bold">نام</label>
                <input type="text" id="name" name="name" class="input">
            </div>
            <div class="w-full ">
                <label for="email" class="text-gray-700 mb-2 text-sm font-bold">آدرس ایمل</label>
                <input type="email" id="email" name="email" class="input">
            </div>
            <div class="w-full  ">
                <label for="phone" class="text-gray-700 mb-2 text-sm font-bold"> شماره تماس اول</label>
                <input type="tel" id="phone" name="phone_number1" class="input">
            </div>
            <div class="w-full  ">
                <label for="location" class="text-gray-700 mb-2 text-sm font-bold"> شماره تماس دوم</label>
                <input type="text" id="location" name="phone_number2" class="input">
            </div>


            <div class="w-full ">
                <label for="" class="text-gray-700 mb-2 text-sm font-bold">شماره تذکره</label>
                <input type="text" id="" name="tazkra_number" class="input">
            </div>



            <div class="w-full ">
                <label for="" class="text-gray-700 mb-2 text-sm font-bold"> آدرس کامل </label>
                <input type="text" id="address" name="address" class="input">
            </div>

            <!-- start product selected -->
            <div class="w-full border  flex flex-col shadow-sm">
                <h1 class="px-2 py-3 font-semibold w-full text-center">لیست موارد که انتخاب کرده اید</h1>
                <div>

                    <table class="w-full border-collapse">
                        <thead>
                            <tr class="border-y bg-gray-200 text-sm">
                                <th class="p-2">شماره </th>
                                <th class="p-2">عکس </th>
                                <th class="p-2">نام </th>

                            </tr>
                        </thead>
                        <tbody class="text-center ">
                            {% for item in cart_item %}
                            {% if item.food %}
                            <tr class="border-b">
                                <td class="p-2">{{ forloop.counter }}</td>
                                <td class="p-2 flex justify-center"><img src="{{item.food.Image.url}}"
                                        class="w-[60px] h-[60px] object-cover "></td>
                                <td class="p-2 text-sm">{{item.food.Title}}</td>

                            </tr>
                            

                            {% elif item.drink %}
                            <tr class="border-b">
                                <td class="p-2">{{ forloop.counter }}</td>
                                <td class="p-2 flex justify-center"><img src="{{item.drink.Image.url}}"
                                        class="w-[60px] h-[60px] object-cover"></td>
                                <td class="p-2 text-sm">{{item.drink.Title}}</td>

                                {% endif %}
                                {% endfor %}

                            </tr>
                            <!-- ردیف‌های بیشتر -->
                        </tbody>
                    </table>
                    <div class="flex  items-center h-10 ">
                        <label for="" class="mx-2 text-xs font-semibold"> قیمت مجموعی:</label>
                        <div
                            class="w-16 h-6 pt-[3px] text-white text-xs flex items-center justify-center bg-slate-800 rounded-md hover:cursor-default mr-2">
                            {{total_price}} </div>
                    </div>

                </div>

            </div>





        </div>

        <div class=" block justify-center items-center">
            <input type="submit" value=" سفارش " class=" cbtn mx-2  ">
        </div>
    </form>
</div>

{%endblock%}