{% extends "addProducts/layout.html"%}
{% load static%}

{%block mainContent%}

<!-- start hero -->
<div class="relative">
    <img src="{%static 'images/18.jpg'%}" alt="Image"
        class=" flex-col justify-center items-center w-full h-[200px] md:h-[300px] lg:h-[350px] object-cover">


    <div class="absolute inset-0 bg-black opacity-50"></div>


    <div class=" absolute w-full mx-auto top-28 md:top-36 lg:top-44 ">

        <h1 class="  text-2xl mx-auto text-white text-center  md:text-4xl font-bold drop-shadow-lg ">
            به وب
            سایت گل
            یخ خوش آمدید
        </h1>

    </div>
</div>

<div class=" my-10 w-[80%] md:w-[70%] mx-auto">
    <h2 class="text-2xl font-bold mb-4"> معلومات خود را وارد کنید </h2>

    <form>
        <div class="flex flex-wrap w-full ">
            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="name" class="text-gray-700 font-semibold">نام</label>
                <input type="text" id="name" name="name"
                    class="w-full border border-gray-300 rounded-sm px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="email" class="text-gray-700 font-semibold">آدرس ایمل</label>
                <input type="email" id="email" name="email"
                    class="w-full border border-gray-300 rounded-sm px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="phone" class="text-gray-700 font-semibold"> شماره تماس اول</label>
                <input type="tel" id="phone" name="phone"
                    class="w-full border border-gray-300 rounded-sm px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="location" class="text-gray-700 font-semibold"> شماره تماس دوم</label>
                <input type="text" id="location" name="location"
                    class="w-full border border-gray-300 rounded-sm px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>


            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="" class="text-gray-700 font-semibold">شماره تذکره</label>
                <input type="text" id="" name=""
                    class="w-full border border-gray-300 rounded-sm px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>



            <div class="w-full md:w-1/2 lg:w-1/2 p-2">
                <label for="" class="text-gray-700 font-semibold"> آدرس کامل </label>
                <input type="text" id="address" name="address"
                    class="w-full border border-gray-300 rounded-sm px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="w-full border m-2 flex flex-col">
              <h1>لیست غذا های که انتخاب کرده اید</h1>
              <div>
                
                <h2>Food Items in Cart:</h2>
<ul>
  {% for food_item in cart_item.cart.food.all %}
    <li>{{ food_item.Title }}</li>
    <!-- Display other food item information as needed -->
  {% endfor %}
</ul>

<h2>Drink Items in Cart:</h2>
<ul>
  {% for drink_item in cart_item.cart.drink.all %}
    <li>{{ drink_item.Title }}</li>
    <!-- Display other drink item information as needed -->
  {% endfor %}
</ul>
                
              </div>
                
            </div>


            <div class="flex justify-center items-center">
                <label for=""> قیمت مجموعی:</label>
               <p class=" px-2 py-1 text-white bg-slate-800 rounded-md hover:cursor-default mr-4">950 Af </p>
            </div>

            
        </div>

        <div class=" block justify-center items-center">
            <input type="button" value=" سفارش "
                class=" cbtn  ">
        </div>
    </form>
</div>

{%endblock%}