{% extends "admin/admin_base.html" %}
{%load static %}




{% block mainContent %}

<!-- title -->
<div class="mt-16 bg-[#f5056d] md:pr-60">
    <h1 class="text-2xl pr-10 py-3  text-white font-bold flex items-center  "> اضافه کردن نوشیدنی </h1>
</div>

<!-- error and succuss message -->
<p class="absolute hidden top-4 left-1/2 transform -translate-x-1/2 text-center text-green-600 p-2 bg-gray-500 bg-opacity-95 rounded-sm z-50"
    id="formError"> </p>
{% if messages %}
{% for message in messages %}
<p
    class="absolute top-4 left-1/2 transform -translate-x-1/2 text-center text-green-600 p-2 bg-gray-500 bg-opacity-95 rounded-sm z-50 error-message">
    {{ message }} </p>
{% endfor %}

{% endif %}

<script>
    setTimeout(function () {
        var errorMessage = document.querySelector('.error-message');
        if (errorMessage) {
            errorMessage.classList.add('hidden');
        }
    }, 5000);
</script>


<!-- back to priveuse page -->
<div class="mt-4 pr-4 md:pr-64">
    <a href="/manage/dashboard" class="pagn hover:bg-slate-800 "> <i class="fa-solid fa-arrow-right"></i> </a>
</div>

<!-- start adddrinks -->
<div class=" md:mr-64 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-4">
        <!-- Add drink Form -->
        <div class="bg-white rounded-sm shadow p-4">
            <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                {% csrf_token %}
                <!-- drink Name -->
                <div class="mb-4">
                    <label for="drinkName" class="block text-gray-700 font-bold mb-2">نام : </label>
                    <input id="drinkName" type="text" class="input" name="title" required
                        placeholder="نام نوشیدنی را بنویسید" />
                </div>

                <!-- drink price -->
                <div class="mb-4">
                    <label for="drinkPrice" class="block text-gray-700 font-bold mb-2">قیمت: </label>
                    <input id="drinkPrice" type="number" class="input" name="price" placeholder="100" ceholder="100"
                        oninvalid="setCustomValidity('لطفاً عدد وارد کنید')">
                </div>

                <!-- drink image -->
                <div class="mb-4">
                    <label class="block font-bold text-gray-700">عکس:</label>
                    <div class="mt-2">
                        <label for="chose-image"
                            class="p-2 text-gray-500 rounded-sm bg-gray-200 hover:cursor-pointer">انتخاب
                            عکس</label>
                    </div>
                    <input type="file" name="image" id="chose-image" class="hidden" />
                </div>

                <div class="mb-4">
                    <label for="drinkDescription" class="block text-gray-700 font-bold mb-2">توضیحات:</label>
                    <textarea id="drinkDescription" class="input" name="description" rows="4"
                        placeholder="توضیاحات در مورد نوشیدنی"></textarea>
                </div>

                <!-- Error Message -->
                <!-- <div id="formError" class="text-red-500 hidden"></div> -->

                <!-- Submit Button -->
                <button type="submit" class="cbtn w-full">
                    اضافه کردن
                </button>

            </form>

            <script>
                function validateForm() {
                    var nameInput = document.getElementById("drinkName");
                    var imageInput = document.getElementById("chose-image");
                    var errorElement = document.getElementById("formError");

                    var namePattern = /^[a-zA-Z\u0600-\u06FF]{1}[^!@#$%^&*()+=\[\]{};':"\\|,.<>\/?]*$/;
                    var imagePattern = /\.(jpg|jpeg|png|gif|svg)$/i;

                    if (!namePattern.test(nameInput.value)) {
                        errorElement.textContent = "نام نوشیدنی باید با حروف الفبا شروع شود و می‌تواند شامل حروف، اعداد، و _ باشد.";
                        errorElement.classList.remove("hidden");
                        setTimeout(function () {
                            errorElement.classList.add("hidden");
                        }, 5000);
                        return false;
                    }

                    if (!imagePattern.test(imageInput.value)) {
                        errorElement.textContent = "فرمت عکس باید jpg، jpeg، png، gif و یا svg باشد.";
                        errorElement.classList.remove("hidden");
                        setTimeout(function () {
                            errorElement.classList.add("hidden");
                        }, 5000);
                        return false;
                    }

                    errorElement.classList.add("hidden");
                    return true;
                }
            </script>


        </div>

        <!-- drinks List -->
        <div class="bg-white rounded-sm shadow p-4 ml-4 h-[600px] overflow-y-scroll">
            <h2 class="text-xl font-bold mb-4">آخرین نوشیدنی ها</h2>
            <ul>
                {% for drink in drinks %}

                <li class="border-b border-gray-300 py-2">
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="font-bold"> {{drink.Title}}</h3>
                            <p class="text-gray-500 text-sm">{{ drink.Description|slice:":20" }}
                                {% if drink.Description|length > 20 %}
                                ...
                                {% else %}
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <a href="{% url 'update-drink' drink.id %}"
                                class="bg-yellow-500 hover:bg-yellow-600 text-white text-sm font-semibold py-1 px-2 rounded-sm inline-block mb-2 sm:mb-0">ویرایش</a>
                            <p class="bg-red-500 hover:bg-red-600 text-white text-sm font-semibold py-1 px-2 rounded-sm inline-block hover:cursor-pointer"
                                id="deleteBotton">حذف</p>

                            <div class=" hidden w-full h-full bg-black bg-opacity-80 fixed left-0 top-0 z-50"
                                id="deleteModel">
                                <div class=" w-full h-full flex justify-center items-center">
                                    <div class="w-80  bg-gray-100 px-6 py-4 rounded-sm ">
                                        <p>مطمئن هستید که این مورد را حذف کنید؟ </p>
                                        <div class="">
                                            <form action="{% url 'delete-drink' drink_id=drink.id %}"
                                                class="flex gap-8 mt-4" method="post">
                                                {%csrf_token%}
                                                <input type="submit" value="بلی"
                                                    class="px-2 text-sm flex items-center hover:cursor-pointer  rounded-sm text-white bg-red-600">
                                                <a href=""
                                                    class="px-2 text-sm flex items-center rounded-sm text-white bg-blue-500">نخیر</a>

                                            </form>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>




                {% endfor %}
            </ul>
        </div>
    </div>
</div>



<!-- end adddrinks -->

{% endblock %}