{% extends "admin/admin_base.html" %}
{%load static %}
{% load humanize %}




{% block mainContent %}



<!-- title -->
<div class="mt-16 bg-[#f5056d] md:pr-60">
    <h1 class="text-lg pr-4 py-3  text-white font-bold flex items-center  "> اضافه کردن غذا </h1>
</div>

<!-- error and succuss message -->
<p class="error-message hidden fixed"
    id="formError">
</p>
{% if messages %}
{% for message in messages %}
<p
    class="success-message fixed">
    {{ message }} </p>
{% endfor %}

{% endif %}

<script>
    setTimeout(function () {
        var errorMessage = document.querySelector('.success-message');
        if (errorMessage) {
            errorMessage.classList.add('hidden');
        }
    }, 5000);
</script>


<!-- back to priveuse page -->
<div class="mt-4 pr-4 md:pr-64">
    <a href="/manage/dashboard" class="pagn hover:bg-slate-800 "> <i class="fa-solid fa-arrow-right"></i> </a>
</div>

<!-- start addFoods -->
<div class=" py-4  md:mr-64 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- Add Food Form -->
        <div class="bg-white max-h-fit rounded-sm shadow p-4">
            <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                {% csrf_token %}
                <!-- food Name -->
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">نام: </label>
                    <input id="name" type="text" class="input" name="title" placeholder="نام نوشیدنی را بنویسید" />
                </div>

                <!-- food price -->
                <div class="mb-4">
                    <label for="price" class="block text-gray-700 text-sm font-bold mb-2">قیمت: </label>
                    <input id="price" type="number" class="input" name="price" placeholder="100">
                </div>

                <!-- food image -->
                <div class="mb-4">
                    <label class="block font-bold pb-2 text-sm text-gray-700">عکس:</label>
                    <div class="mt-2">
                        <label for="chose-image"
                            class="p-2 text-sm border text-gray-400 rounded-sm bg-gray-100 hover:cursor-pointer">انتخاب
                            عکس</label>
                    </div>
                    <input type="file" name="image" id="chose-image" class="hidden" />
                </div>

                <div class="mb-4">
                    <label for="description" class="block text-gray-700 text-sm font-bold mb-2">توضیحات:</label>
                    <textarea id="description" class="input" name="description" rows="4"
                        placeholder="توضیاحات در مورد نوشیدنی"></textarea>
                </div>

                <!-- Error Message -->
                <!-- <div id="formError" class="text-red-500 hidden"></div> -->

                <!-- Submit Button -->
                <button type="submit" class="cbtn w-full my-0 ">
                    اضافه کردن
                </button>
            </form>
        </div>

        <!-- Foods List -->
        <div class="bg-white rounded-sm shadow p-4 ml-4 h-[500px] overflow-y-scroll custom-scrollbar">
            <h2 class=" font-bold mb-4">آخرین غذا ها</h2>
            <ul>

                {% for food in foods %}
                <li class="border-b border-gray-300 py-2">
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="text-sm font-bold"> {{food.Title}}</h3>
                            <p class="text-gray-500 text-xs">{{ food.Created|naturaltime }}
                            </p>
                        </div>
                        <div>
                            <a href="{% url 'update-food' food_id=food.id %}"
                                class="bg-yellow-500 hover:bg-yellow-600 text-white text-sm  py-1 px-2 rounded-sm inline-block mb-2 sm:mb-0">ویرایش</a>
                            <p class="bg-red-500 hover:bg-red-600 text-white text-sm  py-1 px-2 rounded-sm inline-block hover:cursor-pointer deleteButton"
                                id="deleteButton_{{ food.id }}">حذف</p>

                            <div class=" hidden w-full h-full bg-black bg-opacity-80 fixed left-0 top-0 z-50"
                                id="deleteModel_{{ food.id }}">
                                <div class=" w-full h-full flex justify-center items-center">
                                    <div class="w-80  bg-gray-100 px-6 py-4 rounded-sm ">
                                        <p class="text-sm">مطمئن هستید که این مورد را حذف کنید؟ </p>
                                        <div class="">
                                            <form action="{% url 'delete-food' food_id=food.id %}"
                                                class="flex gap-8 mt-4" method="post">
                                                {%csrf_token%}
                                                <input type="submit" value="بلی"
                                                    class="px-2 text-sm flex items-center hover:cursor-pointer  rounded-sm text-white bg-red-600">
                                                <a href=""
                                                    class="px-2 text-sm flex items-center rounded-sm text-white bg-blue-500">نخیر</a>

                                            </form>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                {% empty %}
                <p class="text-red-600"> غذای موجود نمی باشد!</p>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>



<!-- end addFoods -->

{% endblock %}