{% extends "admin/admin_base.html" %}
{%load static %}
{% load humanize %}



{% block mainContent %}
<!-- title -->
<div class="mt-16 bg-[#f5056d] md:mr-60">
    <h1 class="text-2xl pr-10 py-3  text-white font-bold flex items-center  "> اضافه کردن پست </h1>
</div>

<!-- back to priveuse page -->
<div class="mt-4 pr-4 md:pr-64">
    <a href="/manage/dashboard" class="pagn hover:bg-slate-800 "> <i class="fa-solid fa-arrow-right"></i> </a>
</div>

<!-- start addPodts -->
<div class=" md:mr-64 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-4">
        <!-- Add post Form -->
        <div class="bg-white h-fit rounded-sm shadow p-4">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <!-- post Name -->
                <div class="mb-4">
                    <label for="postName" class="block text-gray-700 font-bold mb-2">عنوان : </label>
                    <input id="postName" type="text" class="input" Name="title" placeholder="عنوان پست را بنویسید">
                </div>

                <!-- post image -->
                <div class="mb-4">
                    <label for="postImage" class="block text-gray-700 font-bold mb-2"> عکس: </label>
                    <input id="postImage" type="file" class="input" Name="image">
                </div>

                <!-- post date -->
                <!-- <div class="mb-4">
                    <label for="postDate" class="block text-gray-700 font-bold mb-2"> تاریخ: </label>
                    <input id="postDate" type="date" class="input" Name="date" value="" placeholder="100">
                </div> -->


                <!-- post Description -->
                <div class="mb-4">
                    <label for="postDescription" class="block text-gray-700 font-bold mb-2">توضیحات:</label>
                    <textarea id="postDescription" class="input" Name="description" rows="4"
                        placeholder="توضیاحات در مورد پست"></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="cbtn w-full mt-10">
                    اضافه کردن
                </button>
            </form>
        </div>

        <!-- posts List -->
        <div class="bg-white rounded-sm shadow p-4 ml-4 h-[500px] overflow-y-scroll">
            <h2 class="text-xl font-bold mb-4">آخرین پست ها</h2>
            <ul>

                {% for post in posts %}

                <li class="border-b border-gray-300 py-2">
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="font-bold"> {{post.Title}}</h3>
                            <p class="text-gray-500 text-xs">{{ post.created_at|naturaltime }}
                            </p>
                        </div>
                        <div>
                            <a href="{% url 'update-post' post_id=post.id %}"
                                class="bg-yellow-500 hover:bg-yellow-600 text-white text-sm py-1 px-2 rounded-sm inline-block mb-2 sm:mb-0">ویرایش</a>
                            <p class="bg-red-500 hover:bg-red-600 text-white text-sm py-1 px-2 rounded-sm inline-block hover:cursor-pointer"
                                id="deleteBotton">حذف</p>

                            <div class=" hidden w-full h-full bg-black bg-opacity-80 fixed left-0 top-0 z-50"
                                id="deleteModel">
                                <div class=" w-full h-full flex justify-center items-center">
                                    <div class="w-80  bg-gray-100 px-6 py-4 rounded-sm ">
                                        <p>مطمئن هستید که این مورد را حذف کنید؟ </p>
                                        <div class="">
                                            <form action="{% url 'delete-post' post_id=post.id %}"
                                                class="flex gap-8 mt-4" method="post">
                                                {%csrf_token%}
                                                <input type="submit" value="بلی"
                                                    class="px-2 text-sm flex items-center hover:cursor-pointer  rounded-sm text-white bg-red-600">
                                                <a href=""
                                                    class="px-2 text-sm flex items-center rounded-sm text-white bg-blue-500">نخیر</a>

                                            </form>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>



<!-- end addposts -->

{% endblock %}