{% extends "admin/admin_base.html" %}
{%load static %}




{% block mainContent %}
<!-- title -->
<div class="md:mr-60">
    <div class="mt-16 bg-[#f5056d]">
        <h1 class="text-2xl pr-10 py-3  text-white font-bold flex items-center  "> جزئیات سفارش </h1>
    </div>

    <!-- back to priveuse page -->
    <div class="mt-4 pr-4 ">
        <a href="/manage/dashboard" class="pagn hover:bg-slate-800 "> <i class="fa-solid fa-arrow-right"></i> </a>
    </div>

    <!-- chackout -->
    <div class="mt-8 mx-4 flex flex-col lg:flex-row gap-6 ">

        <!-- order list -->
        <div class=" w-full custom-scrollbar border relative ">
            <h1 class="m-4 pb-2 text-sm border-b-2 w-fit font-bold">لیست سفارشات</h1>
            <div class=" h-60  overflow-scroll custom-scrollbar mx-2">
                <table class="min-w-full justify-center items-center text-sm font-light ">
                    <thead class="border-b font-medium  bg-slate-800 text-gray-200">
                        <tr>
                            <th class="px-2 py-2">شماره</th>
                            <th class="px-2 py-2">عکس</th>
                            <th class="px-2 py-2">نام</th>
                            <th class="px-2 py-2">قیمت</th>
                            <th class="px-2 py-2">تعداد</th>
                            <th class="px-2 py-2 ">قیمت مجموعی</th>
                        </tr>
                    </thead>
                    {% for item in items %}
                    <tbody class="text-center ">
                        <tr class="border-b">
                            <td class="whitespace-nowrap px-2 py-4 price">{{ forloop.counter }}</td>
                            {% if item.food %}
                            <td class="py-2 flex justify-center items-center "><img src="{{ item.food.Image.url }}"
                                    alt="" class="w-[50px] h-[50px] rounded-full object-cover"></td>
                            <td class="whitespace-nowrap px-2 py-4">{{ item.food.Title }}</td>
                            <td class="whitespace-nowrap px-2 py-4 price">{{item.food.Price}}</td>
                            <td class="whitespace-nowrap px-2 py-4">{{ item.quantity }}</td>
                            <td class="whitespace-nowrap px-2 py-4">{{item.total_price}}</td>
                            {% elif item.drink %}
                            <td class="py-2 flex justify-center items-center "><img src="{{ item.drink.Image.url }}"
                                    alt="" class="w-[50px] h-[50px] rounded-full object-cover"></td>
                            <td class="whitespace-nowrap px-2 py-4">{{ item.drink.Title }}</td>
                            <td class="whitespace-nowrap px-2 py-4 price">{{item.drink.Price}}</td>
                            <td class="whitespace-nowrap px-2 py-4">{{ item.quantity }}</td>
                            <td class="whitespace-nowrap px-2 py-4">{{item.total_price}}</td>
                            {% endif %}

                        </tr>

                    </tbody>
                    {% endfor %}

                </table>

                
                    
                
            </div>
            <p
                        class="px-2 py-1 w-fit text-xs mx-4 mb-4 bg-slate-800 rounded-md text-white ">
                        قیمت مجموعی: {{total_price}}</p>
        </div>

        <!-- customer info -->
        <div class="overflow-scroll w-full custom-scrollbar border ">
            <h1 class="m-4 pb-2 text-sm border-b-2 w-fit font-bold">مشخصات شخص سفارش دهنده</h1>
            
            <div class="flex flex-col gap-2 px-4 ">
                <!-- user avatar  -->
                <div class="flex gap-4 ">
                    <div>
                        <img src="{{ user.profile.avatar.url }}" alt="" class="w-40 h-40 rounded-sm shadow-md object-cover">
                    </div>
                    <!-- name email and phone -->
                    <div class="flex flex-col gap-2  justify-center">
                        <div class="flex gap-2">
                            <h1 class="text-sm">نام:</h1>
                            <h1 class="text-sm text-gray-500">{{ checkout.name }}</h1>
                        </div>
                        <div class="flex gap-2">
                            <h1 class="text-sm">شماره تماس:</h1>
                            <h1 class="text-sm text-gray-500">{{ checkout.phone_number1 }}</h1>
                        </div>
                        <div class="flex gap-2">
                            <h1 class="text-sm">ایمیل:</h1>
                            <h1 class="text-sm text-gray-500">{{ checkout.email }}</h1>
                        </div>


                    </div>
                </div>

                <div class="flex gap-2 my-2">
                    <p class="text-sm">آدرس:</p>
                    <p class="text-sm text-gray-500">{{ checkout.address }}</p>

                </div>

            </div>

        </div>
    </div>
    <a href="{% url 'mark-ordered' checkout.id %} " class="p-2 bg-[#f5056d] float-left m-6 text-white text-sm ">سفارش
        ارسال شد</a>
</div>
</div>




<!-- end addposts -->

{% endblock %}