{% extends "admin/admin_base.html" %}
{%load static %}



{% block mainContent %}

<!-- error message -->
<p class="error-message hidden fixed"
    id="formError">
</p>
<!-- title -->
<div class="mt-16 bg-[#f5056d] md:pr-60">
    <h1 class="text-lg pr-4 py-3  text-white font-bold flex items-center  ">ویرایش غذا</h1>
</div>

<!-- back to priveuse page -->
<div class="mt-4 pr-4 md:pr-64">
    <a href="/manage/addfood" class="pagn hover:bg-slate-800 "> <i class="fa-solid fa-arrow-right"></i> </a>
</div>

<!-- start updateFoods -->
<div class=" md:mr-64 md:ml-4  p-4 my-4 border shadow-lg">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6  ">
        <!-- Add food Form -->
        <div class="rounded-sm p-4 ">
            <form method="post" enctype="multipart/form-data" onsubmit="return update_validateForm()" class="">
                {%csrf_token%}


                <!-- food price -->
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">نام : </label>
                    <input id="name" type="text" class="input" Name="title" value="{{food.Title}}">
                </div>

                <!-- food price -->
                <div class="mb-4">
                    <label for="price" class="block text-gray-700 text-sm font-bold mb-2"> قیمت: </label>
                    <input id="price" type="number" class="input" Name="price" value="{{food.Price}}">
                </div>

                <!-- food image -->
                <div class="mb-4">
                    <label class="block text-sm pb-2  font-bold text-gray-700">
                        عکس: 
                    </label>
                    <div class="mb-2">
                        <label for="chose-image"
                            class="p-2 text-sm border text-gray-400 rounded-sm bg-gray-100 hover:cursor-pointer">انتخاب
                            عکس</label>
                    </div>
                    <input type="file" name="image" id="chose-image" class="hidden" />
                </div>

                <!-- <div class="mb-4">
                    <label for="foodImage" class="block text-gray-700 font-bold mb-2">{{food.Image.url}} عکس:</label>
                    <input id="foodImage" type="file" class="input" name="image" value="{{food.Image.url}}">

                </div> -->

                <!-- food Description -->
                <div class="mb-4">
                    <label for="description" class="block text-gray-700 text-sm font-bold mb-2">توضیحات:</label>
                    <textarea id="description" class="input" name="description"
                        rows="4">{{ food.Description }}</textarea>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="cbtn w-20 my-0 flex justify-center">
                    ذخیره
                </button>
            </form>
        </div>

        <div class="hidden lg:block w-full h-[400px] p-4 rounded-sm">
            <img src="{{food.Image.url}}" alt="" class="w-full h-full rounded-sm shadow-md object-cover">
        </div>

        <!-- foods List -->

    </div>
</div>
<!-- end addFoods -->

{% endblock mainContent %}